[2018-12-13 11:21] thorsten-reitz commented on #714
@florianesser I agree ... and it should be checked by default IMHO :)

[2018-12-13 11:53] Kate-Lyndegaard commented on #714
Yes, I am using shapefiles. Well, this explains my problem. I think it would be great to have the added option in the export dialog as well.

[2018-12-14 09:59] stempler opened #715 "Add information on how to install get the GeoServer AppSchema plugin"
To inform users how they can install the GeoServer AppSchema plugin we should add at least minimal information on where to find it.

This can be done by including the respective update site in the `HALE.p2.inf` file (see https://github.com/halestudio/hale/pull/691#issuecomment-445372151) and/or by adding a hint to the help.

[2018-12-17 10:11] nmtoken commented on #434
Old issue, but just noting that the ArcGIS GetCapabilities response given above is invalid.

[2018-12-18 15:44] florianesser commented on #707
Can be tested with [build 445](https://builds.wetransform.to/job/hale/job/hale%7Epublish(master)/445/) or later.

[2018-12-20 10:00] florianesser commented on #715
Can be tested w/ [build 447](https://builds.wetransform.to/job/hale/job/hale~publish(master)/447/) or later

[2018-12-20 10:01] florianesser commented on #575
Can be tested w/ [build 446](https://builds.wetransform.to/job/hale/job/hale~publish(master)/446/) or later

[2018-12-20 10:04] florianesser opened #719 "Support pro plugin installation via update site"
Implement as a mitigation for #696.

- [x] Create pro plugins update site project
- [x] Make update site available via `halestudio.org` or `wetransform.to` URL
- ~~Add update site as default~~

[2018-12-20 10:16] florianesser commented on #719
I'd suggest to create an update site per hale studio release that contains the plugins compatible with the respective release (similar to what the Eclipse project does), e.g. something like:

- http://download.halestudio.org/pro-plugins/3.4.1
- http://download.halestudio.org/pro-plugins/3.5.0
- etc.

[2018-12-20 13:17] florianesser commented on #719
A simple docker image serving the plugins for hale studio 3.4.0/3.4.1 is available at `wetransform/hale-pro-updatesite:3.4.0` (private repo).

[2019-01-02 15:31] florianesser commented on #235
@thorsten-reitz Can you confirm that this is no longer an issue with the new plugin installation method (i.e. via an update site)?

[2019-01-02 15:45] florianesser opened #721 "HSD import: Don't fail if identical type is defined multiple times"
Example case: If the source schema is comprised of multiple Oracle SQL queries, the HSD export will export basic Oracle types (e.g. `NUMBER` or `VARCHAR2`) along with the table definitions for every such query. If two queries use the same basic Oracle types, this will lead to an error in a subsequent import (`Multiple definitions of type X`).

[2019-01-03 15:11] florianesser commented on #606
Not entirely sure what I meant here as saving a project locally as '.halex' is not possible if the project was loaded from hale connect. The only option to save the project locally is to a `.halez` archive which works properly.

[2019-01-03 15:11] #606 closed

[2019-01-03 15:37] florianesser commented on #703
@Kate-Lyndegaard The `ActivityCodeValue` code list does not contain any values but only references to other code lists (child concepts). You can see also see that in the [XML representation](http://inspire.ec.europa.eu/codelist/ActivityCodeValue/ActivityCodeValue.en.xml) of the list when looking at the `containeditems` elements: it has only `codelist` children (no `value`s).

[2019-01-03 15:37] #703 closed

[2019-01-07 09:11] thorsten-reitz commented on #719
@florianesser I understand reading the comment in https://github.com/halestudio/hale/issues/235 that there is an update site available?

[2019-01-07 09:14] thorsten-reitz commented on #715
LGTM.

[2019-01-07 09:14] #715 closed

[2019-01-07 09:19] thorsten-reitz commented on #235
LGTM.

[2019-01-07 09:19] #235 closed

[2019-01-07 09:20] thorsten-reitz commented on #707
@JohannaOtt can you please test this today?

[2019-01-07 09:21] thorsten-reitz commented on #53
@stempler @florianesser shouldn't this be fixed with the changes we have made?

[2019-01-07 09:22] thorsten-reitz commented on #575
@JohannaOtt can you please test this today?

[2019-01-07 09:34] florianesser commented on #53
@thorsten-reitz Yes, this should no longer be an issue with the upgrade to the Photon platform. @stempler Can you confirm?

[2019-01-07 09:44] stempler commented on #53
It is no longer a problem on my machine and I think using the Photon based version also worked for a couple of other people.

[2019-01-07 09:51] thorsten-reitz commented on #53
OK, I'll close this then.

[2019-01-07 09:51] #53 closed

[2019-01-07 10:16] florianesser commented on #642
@JohannaOtt Could you please test this with [this build](https://builds.wetransform.to/job/hale/job/hale%7Epublish(master)/449/)?

[2019-01-07 10:17] florianesser commented on #677
I looked into it again last week and wasn't able to reproduce it anymore. @JohannaOtt Could you please test it with the [latest build](https://builds.wetransform.to/job/hale/job/hale%7Epublish(master)/449/)?

[2019-01-07 11:33] JohannaOtt commented on #707
LGTM

I tested with Build 448.
I could load the three schemas created with hs 3.4.1 (see zip above) without any issues.
I created the same schemas (hsd, hsd.gz, json) with SNAPSHOT 3.5.0 - Build 448 and was also able to reload those without any issues.

[2019-01-07 11:33] #707 closed

[2019-01-07 12:35] JohannaOtt commented on #575
Concerning the Inline Transformation being slow:
I testet with a dataset of ~1,500 objects.
With the inline transformation cell disabled, it takes about 45 seconds.
With the cell enabled it takes about 1 minute.
The transformation takes still longer but in a reasonable range from my point of view - @florianesser would you expect them to take the same amount of time?

Concerning the use of the Inli

[2019-01-07 13:07] JohannaOtt commented on #642
I think the error is fixed but there is still an issue with the paths displayed
before uploading the project to hale connect:
![grafik](https://user-images.githubusercontent.com/34163838/50769276-c2385c00-1283-11e9-9174-e3784aaddd46.png)
after uploading the project to hale connect:
![grafik](https://user-images.githubusercontent.com/34163838/50769590-b600ce80-1284-11e9-98b3-66b38b890b17.png)

The

[2019-01-07 13:45] florianesser commented on #575
No. If the inlined transformation contains Groovy scripts, those must be compiled once, which adds to the total execution time.

I think it would be best to test this independent of hale connect by running the CLI transformation locally. That way we can be sure that it's not a hale connect issue in case there are problems.

[2019-01-07 16:30] JohannaOtt commented on #575
Running the CLI transformation locally lead to the same error that is occuring on hale connect.
@florianesser is going to investigate what causes that error.

[2019-01-09 07:48] JohannaOtt commented on #642
LGTM

[2019-01-09 07:48] #642 closed

[2019-01-09 08:02] JohannaOtt commented on #575
LGTM

tested with the AdV BU 3D alignment in CLI and UI - no errors are occurring any more.

[2019-01-09 08:02] #575 closed

[2019-01-10 10:48] JohannaOtt commented on #719
LGTM

I tested installing the plugins from http://build-artifacts.wetransform.to/p2/hale-pro/3.5.0-SNAPSHOT and could load data from a FGDB as well as data from an Oracle DB

[2019-01-10 10:48] #719 closed

[2019-01-10 15:38] florianesser opened #726 "GDAL plugin does not work on macOS"
Tested on macOS 10.13.4 (High Sierra) w/ final RC build of 3.5.0. Plugin was installed via update site. When starting hale studio, the error log shows this exception:

[code]

[2019-01-15 10:41] JohannaOtt commented on #628
Also, when creating a CompoundCRS as user defined CRS in the hale studio settings with a WKT (in this case, I used EPSG:5832) and trying to export data chosing that CRS, it fails with the following message indicating that no CompoundCRSs are supported:
![grafik](https://user-images.githubusercontent.com/34163838/51175164-cc78dc80-18b9-11e9-916b-ccf28b83035d.png)

As the Building 3D data in the AdV

[2019-01-16 15:54] florianesser opened #727 "Proxy settings are not applied when contacting update sites"
It looks like that in the software installation dialog hale studio tries to contact upadate sites directly even when a proxy is configured. In environments where proxy use is required this leads to hale not being able to contact update sites.

[2019-01-17 14:39] Kate-Lyndegaard opened #728 "GML missing srsName for geometries with deep nesting where srsName cannot be added at the top level"
I came across this working on the Statistical Grid SLD, which requires the use of the geometry type PolygonPatch. It is not possible to add srsName to the top level of PolygonPatch directly because it is located several levels deeper in the geometry. I cannot publish the valid, exported GML in haleconnect because it is missing the srsName.

It would be helpful if hale studio could locate at least

[2019-01-17 14:54] florianesser commented on #728
@Kate-Lyndegaard Are you sure that the `srsName` attribute is allowed in the `PolygonPatch` element? From a superficial check it looks like that `PolygonPatch` does not inherit from `AbstractGeometryType` and, therefore, doesn't have the `SRSReferenceGroup` attribute group. This would need to be checked more thoroughly, though.

[2019-01-17 14:58] stempler commented on #728
@florianesser Yes, that's true. Thus it would be good to have the `srsName` and `srsDimension` at level of the `posList` or any other level that supports that kind of information.

[2019-01-17 15:07] Kate-Lyndegaard commented on #728
@florianesser @stempler
When I add `<gml:posList srsName="http://www.opengis.net/def/crs/EPSG/0/4258" srsDimension="2">`
to `posList` my INSPIRE gml, it passes data analysis on haleconnect and the srs is recognized.

[2019-01-23 14:43] thorsten-reitz opened #729 "Opt-In Feature Usage Information"
Add an Opt-In to collect Feature Usage information in hale studio. The purpose is to determine which features we need to focus on in the continused development of hale studio, especially with respect to transformation functions. No source/transformed data will be transferred.

More Information on implementation pathways will be added to this ticket.

[2019-01-25 13:21] JohannaOtt opened #730 "halez-archive function does not work correctly for FGDBs"
hale studio 3.5.0 release:
When using a FGDB as source and saving the project as halez, only one FGDB file is added to the archive's resource folder (I assume, the one that has been chosen when importing the FGDB data to the project).
This leads to the fact, that the data can't be loaded when trying to open the project from the halez file.

[2019-01-28 10:37] thorsten-reitz commented on #730
The correct behaviour would be to include all files in the same folder in the archive; FGDBs are usually folder-based.

[2019-01-28 10:43] stempler commented on #730
The FGDB plugin most likely does not implement a [ResourceAdvisor](https://github.com/halestudio/hale/blob/master/common/plugins/eu.esdihumboldt.hale.common.core/src/eu/esdihumboldt/hale/common/core/io/ResourceAdvisor.java) which is intended to provide specific functionality for copying resources if requried (e.g. multi-file resources).

[2019-02-15 07:09] JohannaOtt opened #732 "rendering target geometries cause errors when using default stlying"
hale-studio-4.0.0.SNAPSHOT-Build 457

Only some of the target geometries in the example project attached to this ticket get displayed on specific zoom levels in the Map View and the loading ("clock") sign won't disappear.
[Geologie_GK_25 (Geologische Karte 1 25000).zip](https://github.com/halestudio/hale/files/2868116/Geologie_GK_25.Geologische.Karte.1.25000.zip)

While loading the map, errors occ

[2019-02-22 11:44] dollarklavs opened #733 "JDBC import, warning: 'Could not determine SRS information for SRID 0'"
I get a warning when importing data from a postgres table:
   _'Could not determine SRS information for SRID 0'_.
the tables that I import both have well defined geoemtries.

[code]

I'm using Hale Studio 3.5.0 (64 bit) on Win 10, and importing from postgres  10.7 and postgis 2.5.

The issue might spill over into 'Export' -> 'Transformed data', which doesn't get any SRS information attached to the

[2019-02-22 12:26] apfelnymous commented on #702
Hello @florianesser , from coming week on Im employed to work and I can try this again.
Kind regards !

[2019-02-25 11:05] JohannaOtt opened #734 "Mapping view still shows last choice when opening a new project"
Version 4.0.0.SNAPSHOT
Build 457

reproduction steps:
- open a project
- open a mapping in the mapping view
- open a second project in the same instance
- the mapping view will still display the mapping you last chose in the first project opened

As you can also edit the cells of the first project in the second one (and accidentaly add them to the second project when saving), it would be better to

[2019-02-27 15:24] apfelnymous commented on #702
Hey, I just checked the Map view, there is data shown, it appears to be working, we tried to fill in the proxy settings and I tried to login into hale connect again, didnt work, although my hale connect credentials are correct. Hale returned the following error:

" eu.esdihumboldt.hale.io.haleconnect.HaleConnectException: Failed to connect to haleconnect.com/52.29.224.56:443
	at eu.esdihumboldt.ha

[2019-03-19 08:07] florianesser opened #735 "MathematicalExpression function expression is evaluated for source instances out of context"
The expression of a `MathematicalExpression` function is evaluated for all source instances, even if the source attribute is filtered via a condition context. This can lead to `NullPointerException`s if there are `null` values in a source property that is referenced in the mathematical expression and these exception cannot be prevented by applying a `IS NOT NULL` context to the source property.

C

[2019-03-19 08:25] stempler commented on #735
I assume this is due to the configuration that a source property is not required for a mathematical expression function: https://github.com/halestudio/hale/blob/c8ce65a34bb059d892e8407f01842ec1ecae7d70/cst/plugins/eu.esdihumboldt.cst.functions.numeric/plugin.xml#L39

The same happens for instance for the Groovy Script function, though there the potential source can be checked to work around it.

[2019-04-08 07:58] thorsten-reitz opened #736 "Cell Proposals: Logger"
To enable cell proposals for hale studio users, we need to create a database with transformation cells that can then be evaluated for the proposals.

As part of this ticket, we will implement a first version of the cell logger.

[2019-05-09 11:24] JohannaOtt opened #737 "Make Integer and Float values comparable for Join"
In a customer's project, a Join is needed that is based on an attribute with an Integer value in one of the feature types and on an attribute with a Float value in the other one.
The Float version of it holds the same values as the Integer one but ".0" is added.
In order to make the two attributes comparable, one idea was to cut the post-comma part of each Float used for a Join (as a Join using tw

[2019-05-17 16:01] fernandor777 opened #740 "LinkageError: loader constraint violation error on javax.xml.namespace.QName class"
Working on new feature for App-schema plugin I faced a LinkageError on QName class.

Checking HALE available libraries on its folders I found two javax.xml.namespace.QName class:
[code]

Manually removing xml-apis_1.4.1.i20180427.jar file and restarting HALE solved the problem, and App-schema plugin exported its mappings whitout problems.

So maybe this xml-apis_1.4.1.i20180427.jar  dependency hav

[2019-05-21 10:20] stempler commented on #740
If it's completely incorporated into the JDK it can be excluded like this is already done [here](https://github.com/halestudio/hale-platform/blob/8fc1490246b88b0aacb81d073287b97911d27eb6/build.gradle#L163). Seems strange though that this did not clash before. Any idea on what might have changed?

[2019-05-23 14:19] fernandor777 commented on #740
Probably a classpath loaders issue due to Eclipse OSGI loaded module (app-schema) using JDK QName class versus HALE core using the other QName class from xml-apis.jar

[2019-05-24 07:18] Kate-Lyndegaard opened #741 "Create custom data export settings do not reproject WGS-84 shapefile on haleconnect"
I created a transformation project for MST Denmark using a shapefile in 4326. I exported the transformation project to haleconnect with a 'Create custom data export' setting to reproject the gml to EPSG:3044. When I run the transformation on haleconnect, the result.xml file contains EPSG:3044, however the transformed, INSPIRE GML remains in 4326. I am not sure where this is going wrong, I can see

[2019-05-27 10:56] #741 closed

[2019-05-29 11:26] JohannaOtt opened #742 "XML Validation results differ between hale studio UI and CLI"
When transforming this dataset with the transformation project assigned to it on hc-cd https://hc-cd.wetransform.to/#/dataset/org/564/94ade7ac-c007-44b3-8b44-ed199d1526d9/derivedData using hale CLI, it causes validation issues: Non-nillable element {http://www.isotc211.org/2005/gmd}dateType is null

When using the same transformation project in the hale studio UI with the same datasets, no warning

[2019-06-13 10:40] lgoltz opened #743 "Unexpected behaviour when Features with Curves are transformed"
We created a mapping from XPlanGML 4.1 to 5.1. The GML version of both schemas is the same (3.2).
The alignement of the geometry properties are configured as in the following example:

[code]

Transforming a xml instance with the following geometry results in an NPE.

[code]

[code]

In the target document the curve element is empty:
[code]

The following geoemtry doesn't result in NPE but the tra

[2019-06-13 13:02] stempler commented on #743
You need to turn copying the parsed (JTS) geometry objects off in the function parameters. If hale finds geometry objects it will prefer them for geometry encoding. Otherwise it will just use the structure as-is.

If you don't use the geometry objects you can also ignore the errors you have parsing them.

[2019-06-17 08:42] JohannaOtt opened #745 "Some validation warnings are reported twice"
When running the transformation project in this folder https://git.geobasis-bb.de/lgb-externe-softwareprojekte/lgb-hale/tree/Boden_BOBINDUNG_Wasserbindung/lgb-hale/Schematransformation_LBGR/Boden_BOBINDUNG_Wasserbindung in hale studio Version 4.0.0.SNAPSHOT - Build 532384153, there is a (correct) validation warning.
Although there are only 4 instances of the wrongly filled attribute, six warnings

[2019-06-19 07:17] Kate-Lyndegaard opened #746 "Using Export-->hale connect project... corrupts paths to resources in .halex"
I created several transformation projects for MST Denmark this past week. For each transformation project, I exported it directly to hale connect using the option:
File --> Export --> hale connect project...
After exporting the projects, the paths to the source data are altered and contain what looks like a relative path beginning with 'resource1':
<setting name="source">resource1/RiverBasinDistri

[2019-06-26 10:35] lgoltz commented on #743
Works fine! Thanks a lot for the prompt reply.

[2019-06-26 10:35] #743 closed

[2019-07-11 17:33] JohannaOtt opened #751 "Enable users to search transformation projects using tags when loading them from hale connect"
Once https://wetransform.atlassian.net/browse/ING-1704 is Done, a user should be able to use the tags set on hale connect to filter transformation projects that are opened from hale connect.

[2019-07-12 11:59] thorsten-reitz commented on #737
@florianesser isn't this done or at least ready to be challenged?

[2019-07-12 12:01] florianesser commented on #737
@thorsten-reitz Yes, it's been merged and can be tested.

[2019-08-15 06:50] JohannaOtt opened #752 ""Unknown owner type" error when opening projects from hale connect"
Version 4.0.0.SNAPSHOT
Build 557890456

I want to open a transformation project from hale connect using the wetransform-support account. When doing so, this pop up window with erroe messages appear as soon as I hit the "Select" button:
![grafik](https://user-images.githubusercontent.com/34163838/63077568-ffab4900-bf38-11e9-9c2b-7de137a9d780.png)
These are the error messages related to it
![grafik]

[2019-08-27 07:32] JohannaOtt opened #753 "deegree configuration export is not documented in the help"
In hale studio 3.5, it is possible to export deegree feature store configurations: http://help.halestudio.org/latest/topic/eu.esdihumboldt.hale.doc.user/html/new/3_5_0.xhtml?resultof=%22%64%65%65%67%72%65%65%22%20%22%64%65%65%67%72%65%22%20
This is mentioned in the release notes but no documentation on that feature is available in the help.

[2019-08-29 10:21] JohannaOtt opened #754 "Provide feedback/error message to user when property used for Merge cannot be found"
When changing the source schema of a transformation (in this case only the namespace changed, but the types' and attributes' names stayed stable) and with this, changing a property that is used for a Merge, there is no obvious information to the user that the Merge cannot be executed anymore. (Technically, it still is executed but merges all objects of the type together as the merging property inf

[2019-09-05 10:18] JohannaOtt opened #755 "When querying transformed data by selecting on map, source data is displayed in the Transformed data view"
Version 4.0.0.SNAPSHOT
Build 557890456
Revision 0f8ffd3de3ae9f02812e2d1d6891969bf26c314e

In the Transformed data view I chose the option "Use instances selected in the application, e.g. in the Map View". Then I clicked on a geometry in the Map View (using the option to only display Transformed data).
The data displayed in the Map View has an unexpected structure and shows attributes that are only

[2019-09-05 10:21] JohannaOtt opened #756 "MultiPoints are not displayed correctly in the Map View"
Version 4.0.0.SNAPSHOT
Build 557890456
Revision 0f8ffd3de3ae9f02812e2d1d6891969bf26c314e

When transforming data and aggregating several geometries to MultiPoint geometries, they are not displayed correclty in the Map View. The current assumption by Simon and me is, that there is only one single point displayed per MultiPoint geometry which is located in the center of all points contained in the M

[2019-09-06 08:53] JohannaOtt commented on #641
The behavior could also be reproduced for transformation projects using Shape files as schema and data soruce

[2019-09-16 08:57] florianesser opened #757 "Removal of project variable is not persisted on save"
In a project that contains a project variable, the removal of a variable via the settings dialog is not persisted to the project file upon save.

[2019-09-16 15:35] florianesser opened #758 "Update packaged JRE to add support for TLS v1.2"
Login to a (non-default) hale connect deployment fails the following error show below. The site uses TLS v1.2 (`openssl s_client` output below).

[code]

[code]

[2019-09-16 20:22] stempler commented on #758
I tested this about a week ago - using a current Java 8 update (instead of the version shipped with hale studio) it works w/o any additional changes.

[2019-09-17 06:58] florianesser commented on #758
Thanks @stempler, I'll test that.

[2019-09-19 11:16] florianesser commented on #758
@stempler Using a more recent Java 8 update solved this, so I would suggest that we update the packaged JRE in the next release.

[2019-09-20 11:52] Kate-Lyndegaard opened #759 "Add datum transformation warning and selection option to data export and to custom data export"
Hale studio should display a warning to users whose data transformation requires converting to, or from, a geographic coordinate system, which in turn requires a geographic datum transformation.

In many cases, there are more than one choice of datum transformation and the parameters used. I think that users should be presented with:

1. A warning that they are about to perform a datum transformat

[2019-09-20 12:11] Claudia-WE commented on #757
when removing the project variable and in addition change status of e.g. of OccuredValues in source data the removal is persisted. When closing the project a "Save changes ?" window will appear which is not the case when only the variable has been removed

[2019-09-20 12:16] Claudia-WE commented on #757
To make it more clear:
remove variable --> Apply and Close --> change not persisted
remove variable and change status of e.g. occuredvalues --> Apply and Close --> change persisted

[2019-09-20 13:41] Kate-Lyndegaard opened #760 "Remove discussion of datum parameters from the Unable to determine CRS dialog"
I think we should update the text highlighted in red which appears in the Unable to determine CRS dialog for several reasons.

First, I feel that the discussion of datum parameters should occur when it has been determined that a datum transformation is required. I think that the issue of datum transformations would be better handled in the Coordinate Reference System dialogs, or in a project setti

[2019-10-02 14:31] Kate-Lyndegaard opened #761 "Cannot load HabitatsAndBiotopesDistribution INSPIRE schema in halestudio"
I am currently working on [WGS-414](https://wetransform.atlassian.net/browse/WGS-414?focusedCommentId=24365&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel&utm_medium=referral-external&utm_source=jira-slack&utm_term=#comment-24365).
I need to map the source data to the INSPIRE HabitatsAndBiotopesDistribution schema, however this schema only exists in the EU draft schemas he

[2019-10-04 06:49] stempler commented on #761
The schema has a wrong reference to an imported schema, so the error is with the schema:

[code]

I guess because this schema did not make to the official schemas and no 4.0 release was created this did not occur to anyone.

[2019-10-04 07:38] Kate-Lyndegaard commented on #761
OK, I will use the rc3 hbd schema (http://inspire.ec.europa.eu/draft-schemas/hbd/3.0rc3/HabitatsAndBiotopesDistribution.xsd).
EU member states are required to report habitat distribution datasets to the EEA every six years, so all member states have this data. Strange that the schema has not been released.

[2019-10-04 07:38] #761 closed

[2019-10-16 14:32] fernandor777 opened #762 "PathUpdate doesn't check Mongodb URI connection schema as it does with jdbc"
Seems like findLocation method on class PathUpdate doesn't check Mongodb URI connection schema as it does with jdbc.  This mongodb schema support could be helpful for AppSchema plugin MongoDB support.

https://github.com/halestudio/hale/blob/b651f8d2eabbc22d9af84034bf3fcfa45030d259/common/plugins/eu.esdihumboldt.hale.common.core/src/eu/esdihumboldt/hale/common/core/io/PathUpdate.java#L133

[2019-10-18 12:21] florianesser commented on #762
Should be resolved by #763

[2019-10-18 12:21] #762 closed

[2019-10-22 12:04] JohannaOtt opened #764 "Gml:name attribute is not recognised for Xplanung schema - dataset containing gml:name cannot be read"
When trying to load an XPlanung GML containing an object with
1. a gml:name attribute
2. all other attributes using the default namespace instead of an explicitely defined namespace
to hale studio using this transformation project https://test.haleconnect.de/#/transformation/org/25/8bc3330a-d8da-40be-aa5f-0be8bc1dd77b/overview, only the object itself and the gml:id are recognised. All other attrib

[2019-11-05 09:39] JohannaOtt commented on #758
This issue also keeps services from the ITEOS platform from being loaded to hale studio with this error message:
![grafik](https://user-images.githubusercontent.com/34163838/68196146-6f6d2500-ffb8-11e9-9966-f0cbc3e0e034.png)
It can be loaded if a newer Java version is used (I tried with 1.8.0_191).

[2019-11-06 09:25] florianesser commented on #758
@JohannaOtt Could you challenge this?

[2019-11-06 17:00] JohannaOtt commented on #758
@stempler do you still know what kind of WFS was affected by that so I can test it for challenging?

[2019-11-06 17:04] JohannaOtt commented on #758
I challenged the following:
* Logging in from hale connect to the alternative hale connect system that caused the issue -> works
* Loading the service I reported yesterday -> works

Therefore I consider this ticket being Done.

[2019-11-07 08:40] #758 closed

[2019-11-07 10:29] JohannaOtt opened #766 "Enable selecting more than one file when loading source data"
When loading source data, it is currently only possible to load one file per import.
Especially when it comes to xml structured data, this can lead to a lot of import workflows that need to be executed.
It would be helpful to be able to chose more than one file when importing the data.

[2019-11-12 11:06] florianesser opened #767 "hale sometimes generates random namespace prefix"
A user reported in this [forum thread](https://discuss.wetransform.to/#/thread/9rt/Prefix-for-target-namespace) that for one of their source datasets hale generates a random namespace prefix of the form `zdef-<number>` in the transformed output, while in another dataset hale use the namespace prefix defined in the XSD.

[2019-11-18 16:06] florianesser opened #768 "DefaultProjectReader prefers save configuration over actual file name"
When loading an XML project file, `DefaultProjectReader` prefers the file name information obtained from the save configuration over the actual name of the loaded project file when determining the path of the `alignment.xml` file ([here](https://github.com/halestudio/hale/blob/479017ea2b7fea81c5314f03cf6442f9427a44cd/common/plugins/eu.esdihumboldt.hale.common.core/src/eu/esdihumboldt/hale/common/c

[2019-11-19 14:00] Kate-Lyndegaard commented on #752
I also receive this error quite often, and the first few times I hit it, it was quite disturbing.

Workflow:

1. Log-in to hale studio with wetransform support credentials
2. Open a transformation project which already exists on haleconnect in hale studio
3. Go to File --> Share a project on haleconnect
4. In the Load project dialog, the error that Johanna originally reported appears if the projec

[2019-11-19 15:54] florianesser commented on #752
@Kate-Lyndegaard This message is shown if a project was not opened directly from hale connect via the import wizard but e.g. downloaded manually as a `.halez` and then opened locally.

[2019-11-19 17:12] florianesser commented on #737
@JohannaOtt Could you use this successfully in your customer project?

[2019-11-19 17:30] florianesser commented on #733
That warning is generated [here](https://github.com/halestudio/hale/blob/479017ea2b7fea81c5314f03cf6442f9427a44cd/io/plugins/eu.esdihumboldt.hale.io.jdbc.postgresql/src/eu/esdihumboldt/hale/io/jdbc/postgresql/PostGISGeometries.java#L111). It looks like the `srid` returned by [this query](https://github.com/halestudio/hale/blob/479017ea2b7fea81c5314f03cf6442f9427a44cd/io/plugins/eu.esdihumboldt.hal

[2019-11-20 07:34] JohannaOtt commented on #737
I found an email from June 19th in which the customer confirms, the Join worked with build 15. So I assume this issue can be closed.

[2019-11-20 07:34] #737 closed

[2019-11-20 10:15] florianesser commented on #752
@JohannaOtt @Kate-Lyndegaard The issue should be fixed and can be tested with [this build](http://build-artifacts.wetransform.to.s3-eu-central-1.amazonaws.com/index.html?prefix=travisci/hale/38/).

[2019-11-20 10:17] florianesser commented on #764
@JohannaOtt The issue should be fixed and be tested with [this build](http://build-artifacts.wetransform.to.s3-eu-central-1.amazonaws.com/index.html?prefix=travisci/hale/38/).

[2019-11-20 10:35] Kate-Lyndegaard commented on #752
@florianesser Wow, I just tested this issue and the problem is fixed. That is a big improvement in my opinion. Great, thank you!

[2019-11-20 15:17] JohannaOtt commented on #752
The error is gone, but organisations are not recognised anymore when exporting transformation projects:
![grafik](https://user-images.githubusercontent.com/34163838/69251124-3684a100-0bb1-11ea-9f46-fc3ef9b19279.png)

[2019-11-20 15:23] JohannaOtt commented on #764
LGTM

[2019-11-20 15:23] #764 closed

[2019-11-21 10:28] florianesser commented on #752
@JohannaOtt Nice catch, thanks! [Here's a new version](http://build-artifacts.wetransform.to.s3-eu-central-1.amazonaws.com/index.html?prefix=travisci/hale/40/) where that should be fixed.

[2019-11-21 14:05] JohannaOtt commented on #752
![grafik](https://user-images.githubusercontent.com/34163838/69344827-58912880-0c70-11ea-95ec-d1300306af59.png)
LGTM

[2019-11-22 15:26] JohannaOtt commented on #752
I am sorry, I obviously did not check good enough. If you export a project to hale connect and click on 'update an eyisting project', there are still some wrong values in the owner column:
![grafik](https://user-images.githubusercontent.com/34163838/69438105-c73fb600-0d44-11ea-97da-3af2aa48601c.png)

[2019-11-25 10:23] florianesser commented on #752
@JohannaOtt [Here's an updated version](http://build-artifacts.wetransform.to.s3-eu-central-1.amazonaws.com/index.html?prefix=travisci/hale/42/) where this should be fixed.

[2019-11-25 13:15] JohannaOtt commented on #752
![grafik](https://user-images.githubusercontent.com/34163838/69543303-91d9d900-0f8d-11ea-984b-dbed2bed9310.png)
Some owners still are not recognised, but these users also don't exist anymore in the system. So maybe that is the expected behavior for those.

[2019-11-25 13:16] florianesser commented on #752
Yes, that is expected.

[2019-11-25 13:19] JohannaOtt commented on #752
Ok, then I would consider this ticket as done.

[2019-11-25 13:19] #752 closed

[2019-11-27 15:06] florianesser opened #774 "Too many top-level instances may be generated in headless mode"
In headless mode, if transformed instances are stored in the Orient database, `OInstance.isInserted()` is then not checked when writing these instances which can result in too many instances being written.

[2019-11-28 08:18] florianesser commented on #774
[Build containing fix](http://build-artifacts.wetransform.to.s3-eu-central-1.amazonaws.com/index.html?prefix=travisci/hale/44/)

[2019-12-23 07:53] JohannaOtt opened #776 "Attribute choice is not kept from Schema Explorer for 'Ordinates to Point' function"
Version 4.0.0.SNAPSHOT
Build 617913794

When using the Schema Explorer view to select two attributes on the source side and a Point geometry on the target side and then choosing 'Ordinates to Point' as function, the choice is not kept for the definition of the functions source.
Choice:
![grafik](https://user-images.githubusercontent.com/34163838/71343852-4f41f700-2561-11ea-8636-371c1423f882.png)
F

[2019-12-23 09:49] JohannaOtt opened #777 "Improve CRS selection handling for data import"
Version 4.0.0.SNAPSHOT
Build 617913794

When importing e.g. ESRI Shapefiles or data without CRS information, a dialogue appears asking users to indicate which CRS is used. If it is a Shapefile, the dialogue additionally displays the WKT found in the prj file.
In order to correctly specify the CRS, users need to know the authority and the code of the CRS used.
It would make it easier for users, if

[2019-12-23 09:55] JohannaOtt opened #778 "Integrate INSPIRE Validator for data export"
Version 4.0.0.SNAPSHOT
Build 617913794

The I[NSPIRE Validator ](http://inspire.ec.europa.eu/validator/) contains tests for INSPIRE requirements in general and for some Theme specific requirements (currently only Annex I).
When exporting data from hale studio, it is possible to add validators that are executed during the export.
As INSPIRE is a common use case for hale studio, it would be convenie

[2019-12-23 10:49] JohannaOtt opened #779 "Investigate if data import and live transformation can be moved to background jobs"
Version 4.0.0.SNAPSHOT
Build 617913794

During data import and live transformation, users cannot continue working at the alignment. While this is unproblematic for smaller datasets (primary hale studio use case), creating alignments can get more circuitous when waiting for data import and live transformation without being able to go on with the alignment.
It should be checked if it would be possib

[2019-12-23 10:51] thorsten-reitz commented on #779
When I work with larger data sets and know a lot of steps I want to make, I usually deactive live transformation and validation for a while. I do not fully understand why I should let transformations run if they are going to be superseded by new variants of the alignment quickly anyway?

[2019-12-23 11:04] JohannaOtt commented on #152
@florianesser Isn't that already implemented or am I misunderstanding the expectation?

[2019-12-23 11:17] JohannaOtt opened #780 "Support reading relations between database tables to simplify Join definitions"
When reading the source schema from a database, relations between tables/types should be analysed and imported so that conditions for Joins do not need to be created manually.
One option would be to directly create/suggest Join functions with the imported relations. This would espeacially be helpful when a lot of tables need to be included in the alignment.
A less obtrusive option would be, to ent

[2019-12-23 15:09] JohannaOtt commented on #779
This issue was triggered by the long waiting times when importing data. Moving the live transformation would be more an additional change that could be considered (e.g. when opening a project or changing the instance sampling, live transformation cannot be canceled, in these cases, it would be nice to have it in a background process).

[2019-12-23 15:10] thorsten-reitz commented on #779
It would definitely be nice to have a more robust way of cancelling the transformation, or the option to not automatically trigger an transform when you implement a large data set, agreed.

[2020-01-03 12:45] JohannaOtt opened #781 "Formatted string function not executed when input variable is empty"
Version 4.0.0.SNAPSHOT
Build 617913794

When defining a Formatted string function with several input variables and e.g. aligning the values in the function, it does not get executed (target attribute is empty) as soon as one of the input variables is empty.
While this might be desired for Formatted string functions with one single input variable (but even in this case, it could be discussed to sti

[2020-01-06 14:04] JohannaOtt opened #782 "Enable loading edited csv schemas"
When using a csv file as schema and data source and adding columns to it, hale studio could automatically recognize that there are additional columns in the csv file and provide a dialogue to the customer in order to define the new columns' datatypes.
This would facilitate the use of csv files, espeacially if those are edited from time to time and these changes need to be addresses in the alignmen

[2020-01-14 09:31] JohannaOtt opened #783 "Update Eclipse version to avoid slow start with Eclipse 4.8 (Photon)"
Since updating the Eclipse version used to Eclipse 4.8 (Photon), the application is starting rather slow (compared to before the update).
In order to avoid that slow start of the application, the Eclipse version should be updated.

[2020-01-28 06:44] JohannaOtt commented on #728
This issue also leads to the exported GML file failing the INSPIRE Validator: https://github.com/inspire-eu-validation/community/issues/196

[2020-01-30 19:03] thorsten-reitz opened #788 "Support conversion of BigInteger when writing to GeoPackage"
Currently, writing to GeoPackage does not work if the binding of data in hale studio is BigInteger:

[code]

[2020-02-04 10:20] apfelnymous commented on #777
Sieht gut aus:
"The web has also API allowing integration of the search functionality and transformations in third party applications. " :)

[2020-02-04 13:16] thorsten-reitz commented on #788
Temporary workaround: Use a target schema (e.g. HSD) where the binding of the fields in question has been manually changed to `java.lang.Integer` or `java.lang.Long`.

[2020-02-04 13:19] thorsten-reitz opened #789 "Support setting a CRS for GeoPackage export"
During export to a GeoPackage file, it should be possible to set the CRS which to use, like with other formats.

Currently, issues occur when writing geometries (Failed to convert Geometry to target SRS: Undefined Geographic CRS), which leads me to think the writer fails to recognize the CRS from the WKT definition:

[code]

The GeoPackage is then written, but apparently without CRS info, since QG

[2020-02-10 11:03] JohannaOtt opened #790 "Add validator to check if nilReason values are provided according to INSPIRE"
Version 4.0.0.SNAPSHOT
Build 640814825

The XML validation, that is currently available in hale studio, does not give a warning, if an attribute with cardinality 1 (or more) that is marked as voidable (nillable = "true" attribute in xsd, interpreted as NillableFlag = true in Properties:Constraint view in hale studio) in INSPIRE is not filled and no nilReason value is given.
This means, for all att

[2020-02-10 11:07] thorsten-reitz commented on #790
I always thought that the `nilReason` attributes are generated automatically if you do not set them manually? At least it used to be like that. There is a setting in the GML exporter for that under the section "nilReason":
![grafik](https://user-images.githubusercontent.com/3470356/74144864-ce68b880-4bfd-11ea-81a2-ae6d2aa7755d.png)

[2020-02-10 11:12] JohannaOtt commented on #790
That functionality does the opposite. If a nilReason is given in the transformation, but the attribute actually has a value, the nilReason is omitted. See also http://help.halestudio.org/latest/index.jsp?topic=%2Feu.esdihumboldt.hale.doc.user.ioproviders%2Fioproviders%2Feu.esdihumboldt.hale.io.wfs.fc.write-2.0.html&resultof=%22%67%6d%6c%22%20%22%77%66%73%22%20%22%32%2e%30%22%20%22%66%65%61%74%75%7

[2020-02-12 15:16] JohannaOtt opened #792 "Automatically add INSPIRE-Codespace to gml:identifier for INSPIRE target schemas"
Version 4.0.0.SNAPSHOT
Build 640814825

When using an INSPIRE schema as target schema and adding values to gml:identifier (according to wetransform best practice https://www.wetransform.to/news/2018/02/12/best-practices-for-inspire-ids/), the codespace of this gml:identifier will always be 'http://inspire.ec.europa.eu/ids'.
In order to avoid assigning it to any feature type used in the application

[2020-02-13 07:50] JohannaOtt opened #794 "Shape-Reader: Do not create a property if its value is null"
Version 4.0.0.SNAPSHOT
Build 640814825

When using a Shapefile as source schema and importing source data, the view in the SchemaExplorer indicates that there are values for all attributes for all objecs in the dataset (according to numbers in brackets).
But when checking the data in the source data view, for some objects, some of the attributes are null (and for other objects and other attributes

[2020-02-13 10:22] thorsten-reitz opened #795 "Improve read performance form GeoPackage"
Read performance from GeoPackages should be relatively good. However, when reading data from at least some GeoPackages such as the GIP.AT data set (https://www.data.gv.at/katalog/dataset/3fefc838-791d-4dde-975b-a4131a54e7c5), performance seems to be low on my i7 quad core with 32GB RAM and fast SSDs. Loading 10k objects took 126 seconds, while loading the same 10k objects from shapefile takes 15 s

[2020-02-13 10:24] thorsten-reitz commented on #795
@JohannaOtt I would assume my PC (see above) is probably as fast as what Simon would have set up... more than 30.5GiB of memory do not make much sense for a hale studio process anyway, and hale studio doesn't properly utilize many cores in many processes.

[2020-02-13 13:13] apfelnymous commented on #789
Hey, in which overall working state is the geopackage writer in 4.0 so far ?

[2020-02-13 13:33] thorsten-reitz commented on #789
I've been working with it for a couple of months, though it does have some limitations (as described in this ticket, as well as in #795 and #788).

[2020-02-17 09:22] thorsten-reitz opened #796 "Add "skip x lines" to CSV reader"
There are several types of CSV-based formats that have a header before the actual data, such as the IDF routing format. Thus it would be great to be able to tell the CSV schema reader how many lines it should skip before reading the column names. The CSV instance reader would need a similar feature.

[2020-02-19 08:22] thorsten-reitz opened #798 "Update OrientDB dependency"
The OrientDB dependency is still using version 1.5.1, while the current version is 3.0.18 (03/2019).
Updating it might require changes due to an updated API, but might help to get rid of "Connection closed" mystery bugs in larger transformations.

[2020-02-19 16:20] stempler commented on #790
I remember somewhere in the INSPIRE documents (probably in the GML encoding rules) an example with an omitted nilReason, mentioning that in this case the default "unknown" applies. According to that there would be no need for such a check.

[2020-02-20 07:03] JohannaOtt commented on #790
If that is the case, the INSPIRE validator should not throw an exception for missing nilReasons, right?
Also, for INSPIRE data, in most of the cases 'other:unpopulated' would need to be applied if no nilReason is given explicitely, so the automatic application of 'unknown' would be misleading.

[2020-02-23 15:00] thorsten-reitz commented on #795
@florianesser the read performance has indeed improved significantly with build https://builds.wetransform.to/job/hale/job/hale%7Epublish(master)/482/

I now get a load rate of 800 rows/second, about 10 times faster than before :). Will do a large test with 5+M rows next.

[2020-03-10 10:13] thorsten-reitz opened #799 "Add XPlanung 5.0, 5.1 and 5.2 as presets to hale studio"
Use URL presets with the following schema locations:

5.0.1: http://www.xplanungwiki.de/upload/XPlanGML/5.0/Schema/XPlanung-Operationen.xsd
5.1.2: http://www.xplanungwiki.de/upload/XPlanGML/5.1/Schema/XPlanung-Operationen.xsd
5.2.1: http://www.xplanungwiki.de/upload/XPlanGML/5.2/Schema/XPlanung-Operationen.xsd

[2020-03-10 10:19] thorsten-reitz opened #800 "Add E-Reporting schemas to presets"
Candidates:

Noise Directive
Floods directive: http://cdr.eionet.europa.eu/help/Floods/Floods_603_2016
CDDA (Protected Sites):

Any additions welcome.

[2020-03-10 10:51] thorsten-reitz opened #801 "Add ISO metadata schema to presets"
We might consider inclusing this as an offline preset, since the schema locations haven't been stable.

[2020-03-31 10:44] lgoltz opened #805 "Offset added by mapping from date to date using rename"
We created a mapping with 'Rename' from one date to another. Source and target schemas are XSD-Files. Source and Target properties are date types (xs:date).
Using HALE Studio the target data does not contain the offset. But the transformed GML file contains an offset:

Source:
[code]
Target:
[code]
Is it possible to avoid the offset if the transformation results in a GM file?

[2020-03-31 11:05] stempler commented on #805
That's because the pre Java 8 date/time types are used internally. They don't model time zones explicitly so they implicitly assume a time zone (which is really annoying). See https://github.com/halestudio/hale/issues/316#issuecomment-290065658 for a workaround.

[2020-03-31 11:17] stempler commented on #316
Note: In the Geopackage support Java 8 types were used and some converters already added.

[2020-04-06 11:30] stempler commented on #805
Assuming this is clarified. Feel free to reopen if there is an open question.

[2020-04-06 11:30] #805 closed

[2020-04-08 13:38] akshatbajaj10 opened #807 "New resources section in hale studio documentation"
The idea behind adding this would be to ensure that hale studio users (especially new users) can easily refer to a wide variety of sources. This section should be easily accessible in our documentation (maybe directly in the navigation tab?).

The resources are as follows:
-       [Absolute beginners may start here](http://help.halestudio.org/latest/index.jsp?topic=%2Feu.esdihumboldt.hale.doc.user

[2020-04-08 13:55] stempler commented on #807
The link to the tutorial video in "For a quick start there is a tutorial video online" is no longer valid as well.

[2020-04-08 13:55] stempler commented on #807
Correct link to the point of contact information:
http://help.halestudio.org/latest/topic/eu.esdihumboldt.hale.doc.user/html/pointofcontact.html?cp=0_8

[2020-04-08 13:56] stempler commented on #807
@thorsten-reitz Should we use the link from the website (https://www.youtube.com/playlist?list=PL-BcE8VJZCDj4ah3hdqPUfZH5ORaGzZVU) for the tutorial video(s) or is that also out-of-date?

[2020-04-08 13:58] thorsten-reitz commented on #807
@stempler These are all pretty outdated. Maybe we can use the webinar recording planned for end of April as a better intro video.

[2020-04-09 15:52] akshatbajaj10 commented on #807
I have made changes to my initial comment and the structure of the issue based on discussion with Christopher and Thorsten.

[2020-04-15 13:46] florianesser commented on #795
@thorsten-reitz Do you think we can close this ticket or should we still look for further improvements?

[2020-04-15 13:53] thorsten-reitz commented on #795
This ticket can be closed.

[2020-04-15 13:53] #795 closed

[2020-04-16 13:00] JohannaOtt opened #808 "Remove whitespace from pos when importing gml geometries"
If source data contains geometries with pos elements structured in the following way (coordinates are provided in their own line)
![grafik](https://user-images.githubusercontent.com/34163838/79444597-a6ba1600-7fdb-11ea-80a2-0a3d67a0702a.png)
hale studio reads the geometry as a 3D geometry with the first value being null:
![grafik](https://user-images.githubusercontent.com/34163838/79448907-8e012e8

[2020-04-30 09:51] JohannaOtt opened #809 "Don't show 'multiple values for source node' warning for greedy functions"
When using a Merge function on FeatureType level and using an Aggregate function for the geometries of the source objects that are merged, this warning is displayed for the Instance transformation:
"Multiple values for source node w/o tnrasformation context"

This is expected as the mechanism which creates the warning is not aware of the fact that the Aggregate function is a greedy function using

[2020-05-07 12:30] florianesser commented on #732
[Build with fix](http://build-artifacts.wetransform.to.s3-eu-central-1.amazonaws.com/index.html?prefix=travisci/hale/77/)

[2020-05-08 08:26] JohannaOtt opened #812 "Reword warnings concerning source nodes and duplication context"
When using a Merge function on feature type level and there are functions on property level that might have several source values in the merged source objects, but only one target attribute instance is allowed, this warning is displayed to the user during instance transformation:
"Multiple values for source nodes w/o transformation context match."
This message often leads to confusion for users as

[2020-05-08 08:57] JohannaOtt opened #813 "Enable loading more than one xml source schema"
It currently is not possible to load more than one xml source schema except for creating a combined schema in which all schemas needed for the transformation get imported.
This is e.g. necessary when source data is retrieved from several WFS (which will likely get a more frequent use case in the next months and years where data is increasingly published using services).

The implementation could e

[2020-05-08 09:13] stempler commented on #812
@JohannaOtt Any suggestions for the rewording?

[2020-05-10 06:56] thorsten-reitz opened #814 "Add a XPlanGML Writer"
Currently, it is possible to write XPlanGML by using the generic XML Writer with a Custom Root Element (XPlanAuszug). However, this requires more knowledge by the users and the general XML wirter also has fewer options than the GML writer.

We should thus add a dedicated XPlanGML writer based on the GML writer that supports the following features:

- Support at least XPlanGML 5.0, 5.1 and 5.2 (als

[2020-05-11 05:53] JohannaOtt commented on #812
current warnings: "Multiple values for source nodes w/o transformation context match." and "DuplicationContext present, but no matching target found"

rewording: "Several source attribute instances are mapped to a single target attribute instance."

@stempler To me, they both seems to be caused by the same underlying issue that the user needs to check. I therefore only proposed one rewording now.

[2020-05-11 14:47] thorsten-reitz commented on #814
Effort estimate: 12h to 16h

[2020-05-11 14:47] thorsten-reitz commented on #789
Estimated effort: 8h

[2020-05-11 14:49] thorsten-reitz commented on #801
Estimated effort:
Offline preset: 6h to 8h
URL preset: 1h

[2020-05-11 14:49] thorsten-reitz commented on #799
Estimated effort: 2h

[2020-05-11 14:52] thorsten-reitz commented on #788
Estimated Effort: 4h

[2020-05-11 15:04] thorsten-reitz commented on #680
Workaround for the geometry CRS issue: Use a Reproject Geometry function or a groovy function in which a reprojection is done.

[2020-05-11 15:07] thorsten-reitz commented on #513
Estimated Effort: 4h

[2020-05-11 15:08] thorsten-reitz commented on #458
At least the integration with the CLI is also missing. @florianesser mentioned that it is available only in the GML writer.

[2020-05-11 15:08] thorsten-reitz commented on #458
Estimated Effort: 4h

[2020-05-11 15:11] thorsten-reitz commented on #401
Estimated Effort: 8h

[2020-05-12 07:09] thorsten-reitz commented on #617
@JohannaOtt would you or @Kate-Lyndegaard be able to create a patch for that?

[2020-05-12 07:10] thorsten-reitz commented on #711
@florianesser I believe you had done some precursor work and found that the main challenge to deal with is the Java 9 Modules system. Can you make an estimate as to how much more effort it would be to complete the migration?

[2020-05-12 07:12] thorsten-reitz commented on #807
@JohannaOtt In case you take over the other issue on documentation, can you also deal with this one?

[2020-05-12 07:13] thorsten-reitz commented on #680
@stempler we discussed yesterday that you'll check whether the existing configuration page should be displayed. By default, data should be reprojected to WGS84, or we need to use the workaround mentioned above.

[2020-05-12 07:14] thorsten-reitz commented on #637
@JohannaOtt same question here - could you take this one?

[2020-05-12 07:18] Kate-Lyndegaard commented on #617
Hi @thorsten-reitz,
I am collecting a list of these types of issues in ING-2132, but yes, I can add some more documentation. Regular joins, spatial joins, assign bound, classification, aggregate, loading multiple WFS, getting pro plugins are all lacking documentation.

Regarding the Merge function, I know that I expected to be able to merge more than 1 source dataset, as that is standard in GIS. T

[2020-05-12 07:43] JohannaOtt commented on #617
@thorsten-reitz I will clarify with @Kate-Lyndegaard on this as well as #807 and #637 as she already started there (as mentioned above) and I don't want to create any mess.
Then I will clarify with @florianesser how we can contribute here.

[2020-05-12 07:46] thorsten-reitz commented on #740
@fernandor777 can this issue be closed?

[2020-05-12 07:48] thorsten-reitz commented on #733
@dollarklavs I recently ran into this issue as well, and it turned out that access privileges were not set correctly for the database user, which lead to the geometries being returned with a srid of 0. In this case, the customer set up the privileges correctly, then reinserted her data, and then it worked.

If this works for you, I'd close this ticket.

[2020-05-12 07:49] thorsten-reitz commented on #721
@florianesser is this something you want to conclude for the upcoming release?

[2020-05-12 10:56] thorsten-reitz commented on #696
@florianesser is this still relevant? I haven't used the dropins mechanism in a while.

[2020-05-12 17:36] fernandor777 commented on #740
@thorsten-reitz yes, it can be closed.

[2020-05-12 20:44] #740 closed

[2020-05-13 09:52] JohannaOtt commented on #780
According 'Mapping database schemas' in http://help.halestudio.org/latest/topic/eu.esdihumboldt.hale.doc.user/html/reference/import/jdbc.html?cp=0_6_2_0_8, there is already something implemented that supports users.
@florianesser @stempler Should that ticket be kept to improve the existing functionality or is there nothing more that can be implemented in that context?

[2020-05-13 09:59] florianesser commented on #780
@JohannaOtt Did you originally create this ticket because you imported a database schema and the Joins were not automatically detected?

[2020-05-13 11:51] JohannaOtt commented on #780
@florianesser The question if that would be possible came up during a workshop. As I did not know that there is such a functionality already, I created this ticket as I agreed that this would be very helpful.  IIRC we did not test a concrete use case back then though.

[2020-05-13 13:24] thorsten-reitz commented on #799
This icon can be used for the XPlan presets: http://www.xleitstelle.de/sites/default/files/favicon.png

If a smaller or otherwise different icon is required, let me know.

[2020-05-13 13:48] thorsten-reitz opened #815 "Apply Model Transformations to export of transformed data"
Several proposals for alternative and additional encodings for INSPIRE data exist, in particular for [GeoJSON](https://github.com/INSPIRE-MIF/2017.2) and for [GeoPackage](https://github.com/IAAA-Lab/U2G/blob/master/GeoPackage/geopackage-encoding-rule.md). What these have in common is that they use less nesting and generally simpler models, which are derived from the original conceptual models thro

[2020-05-13 13:49] JohannaOtt opened #816 "Update help 4.1.0"
Within this issue todos on the HS Documentation shall be documented.
This issue is valid for Release 4.1.0

**Intro:**
There are some parts of the help that are outdated - others need an update. These are the pages/things affected from my point of view and those that were already collected in a different ticket. If anyone finds other parts that need to be reviewed - please don't hesitate to add th

[2020-05-14 11:29] kl opened #817 "How to specify source CRS when importing from PostGIS"
Hello,
I have exported a shapefile to a PostGIS database (using shp2pgsql) and I can successfully import the PostGIS table into hale. The problem is the dialog where you specify the source CRS when adding the source data into hale does not appear, and when I try to export the transformed data I get an exception:

```Could not convert geometry to target CRS: No source CRS provided```

If I directly

[2020-05-14 11:36] stempler commented on #817
The information is usually retrieved from the PostGIS table `geometry_columns` - when you add a geometry column an entry is usually created there automatically by PostGIS. A row there identifies table and column, as well as the `srid`. The `srid` is then looked up in the PostGIS table `spatial_ref_sys`.

So the respective entries need to be there and the database user needs to have access to both

[2020-05-14 12:54] kl commented on #817
The SRID was 0 in the database so I specified it with the -s flag in shp2pgsql and now it works. Thanks for the help!

[2020-05-14 12:54] #817 closed

[2020-05-14 13:00] thorsten-reitz opened #818 "Show contexts ordered alphabetically and allow to filter types by the context"
When working with many contexts it can be very difficult to find a specific context, because they seem to be displayed in a random order, and it is also not possible to filter by the context string. Would be nice to enable sorting and filtering for contexts.

[2020-05-14 13:27] florianesser commented on #812
I always understood "Multiple values for source nodes w/o transformation context match" to mean that one of the source attributes is only mapped for a subset of the instances. E.g. if there exist one or more contexts on an attribute, not all "cases" are explicitly handled. @stempler, can you clarify?

[2020-05-14 13:38] florianesser commented on #783
Might make sense to tackle this in conjunction with #711

[2020-05-14 13:44] florianesser commented on #792
I would favour implementing this as a Writer option similar to `Omit nilReason attributes for elements that not nil`.

[2020-05-14 13:57] florianesser commented on #781
If we change the current behaviour to always write the target attribute regardless of the input variable, we are not backwards compatible anymore, i.e. transformations run w/ e. g. hale studio 3.5 generate a different result than a later version where the behaviour was changed. Also, writing the target value with one or more empty input variables might actually not be what an alignment creator wan

[2020-05-14 13:59] florianesser commented on #780
@JohannaOtt Could you test if the existing behaviour works like you would expect?

[2020-05-14 14:07] florianesser commented on #778
@thorsten-reitz and I discussed the idea of adding an option to the XML/GML exporters to upload the transformation result to an INSPIRE Validator instance, start a test run there and retrieve the result. Directly integrating ETF into hale studio would likely be a lot harder.

[2020-05-14 14:25] thorsten-reitz commented on #318
@stempler is this still relevant since the geoserver plug-ins was removed from the main product?

[2020-05-14 14:28] thorsten-reitz commented on #192
Closing this, as the app-schema plug-in has moved to geosolutions entirely.

[2020-05-14 14:28] #192 closed

[2020-05-14 14:45] florianesser commented on #702
Hi @apfelnymous, were you able to resolve this problem in the end?

[2020-05-14 14:48] florianesser commented on #696
@thorsten-reitz No, I don't think so. Plugin installation via hale's `Install New Software...` mechanism works fine as is the only installation method we suggest nowadays.

[2020-05-14 14:48] #696 closed

[2020-05-14 19:10] stempler commented on #812
The message is not about "condition contexts" but about the context of a source node in the transformation tree, which target it is bound to. The warning is about that there are multiple values in the source (e.g. multiple values in a property), but they cannot be translated to multiple values in the target (only to one). So the warning is about a possible loss of information in the transformation

[2020-05-14 19:11] #318 closed

[2020-05-15 06:07] JohannaOtt commented on #807
Is no covered in #816

[2020-05-15 06:07] #807 closed

[2020-05-15 06:08] JohannaOtt commented on #617
Is now covered by #816

[2020-05-15 06:08] #617 closed

[2020-05-15 06:08] JohannaOtt commented on #753
Is now covered in #816

[2020-05-15 06:08] #753 closed

[2020-05-15 06:12] JohannaOtt commented on #812
Yes, that is https://github.com/halestudio/hale/issues/809.

[2020-05-15 07:11] florianesser commented on #812
Thanks for the clarification, @stempler!

[2020-05-15 07:39] apfelnymous commented on #702
Hi @florianesser , when I started using Hale Studio on a machine where no proxy credentials are needed - only the proxy host url, I stopped receiving the error and can login successfully. However when I search for alignments in the search dialogue, another error will return right after running the search function. When I confirm the error, the search results will reset.
![HaleConnectFehler](https:

[2020-05-20 07:29] JohannaOtt commented on #780
@florianesser The current behavior is the one described as the 'less obtrusive option' in the tickets description. When importing a database schema from a PostgreSQL database containing a relation between two tables, the Join condition is prefilled when creating a Join:
![grafik](https://user-images.githubusercontent.com/34163838/82417596-0c3a7000-9a7c-11ea-9057-75142305660d.png)

So from my point

[2020-05-20 07:35] florianesser commented on #780
@JohannaOtt Thanks for testing!

I think we can keep it as an enhancement. I'd favour an implementation where this is added as an option somewhere in the importer, so that the user can choose between the "less obstrusive" and the "more obstrusive" variant.

[2020-05-22 08:24] Kate-Lyndegaard commented on #816
@stempler Where can I find this page in git?
http://help.halestudio.org/latest/topic/eu.esdihumboldt.cst.doc.functions/functions/eu.esdihumboldt.hale.align.merge.html?cp=0_6_3_0_6

Are the function help pages auto-generated?

[2020-05-22 08:27] florianesser commented on #816
@Kate-Lyndegaard The online help is generated from the application help. We update the online version when there is a new release.

[2020-05-22 08:28] Kate-Lyndegaard commented on #816
@florianesser Unfortunately I cannot find this page in the application help..

[2020-05-22 08:31] florianesser commented on #816
That particular page is auto-generated from [this definition](https://github.com/halestudio/hale/blob/b651f8d2eabbc22d9af84034bf3fcfa45030d259/cst/plugins/eu.esdihumboldt.cst.functions.groovy/plugin.xml#L181).

[2020-05-22 08:34] Kate-Lyndegaard commented on #816
@florianesser Yeah, that's what I thought. This complicates adding screenshots and examples here, doesn't it? Would there be an easy way to do that. At a minimum, I could add text to the description if there is no limit on length.

[2020-05-22 08:37] florianesser commented on #816
I'd say those pages are thought more as a technical reference and not so much as to contain a tutorial. If you'd like to create a tutorial for the Merge (or another) function with screenshot, I'd suggest that we set up a separate help section for that.

[2020-05-22 09:08] stempler commented on #816
There is a mechanism for adding custom content to the function help, I'll check if I find an example.

[2020-05-22 09:11] stempler commented on #816
The mathematical expression function uses the mechanism to add custom help content including images.
https://github.com/halestudio/hale/blob/1f6a2a84eade9bd3a107d9f7d58068d775a37258/cst/plugins/eu.esdihumboldt.cst.functions.numeric/plugin.xml#L18

[2020-05-22 09:16] florianesser commented on #816
Thanks a lot, @stempler !

[2020-05-27 08:42] Kate-Lyndegaard commented on #816
@stempler Could you please shoot me a link to the FME Plug in so I can delete it? I really can't find it, sorry!

[2020-05-27 09:20] stempler commented on #816
@Kate-Lyndegaard
To remove the FME content you need to remove the FME feature/plugins from the product files:
https://github.com/halestudio/hale/blob/1f6a2a84eade9bd3a107d9f7d58068d775a37258/doc/plugins/eu.esdihumboldt.hale.doc.application/Infocenter.product#L47
https://github.com/halestudio/hale/blob/1f6a2a84eade9bd3a107d9f7d58068d775a37258/ui/plugins/eu.esdihumboldt.hale.ui.application/HALE.prod

[2020-05-28 06:39] Kate-Lyndegaard commented on #816
@stempler I removed these two lines, however the plug in is still appearing. Any other places where this may be referenced?

[2020-05-28 06:58] stempler commented on #816
@Kate-Lyndegaard When running hale studio locally from Eclipse? You probably have to update the run configuration by opening the `HALE.product` file and running it from there again.

[2020-05-29 07:24] Kate-Lyndegaard commented on #816
@thorsten-reitz I have a question about topic #2 in this ticket: How would you like the following page updated, if at all? The link on this page leads to the wetransform homepage- is that correct? If not, could you please provide a link that should be there?

http://help.halestudio.org/latest/topic/eu.esdihumboldt.hale.doc.user/html/introduction/introduction_dhp.html?cp=0_0_2

[2020-05-29 07:27] thorsten-reitz commented on #816
The link actually leads to dhpanel.eu, but there is a forwarder to wetransform.to. In my view, the page on the data harmonisation panel can be removed, that is only confusing. We can replace it with a page on wetransform and on our value add offerings.

[2020-05-29 07:28] Kate-Lyndegaard commented on #816
@stempler I have a question about topic #3 in this ticket. Do you agree that I can remove the sentence:
"The online help misses some information that is provided on-the-fly in hale studio, e.g. the transformation function reference and the detailed reference for I/O providers for use with the command line interface."

from this page:  http://help.halestudio.org/latest/topic/eu.esdihumboldt.hale.do

[2020-05-29 07:30] Kate-Lyndegaard commented on #816
Good idea- does team revenue have some boilerplate, or should I write something?

[2020-05-29 07:38] stempler commented on #816
"The online help misses some information that is provided on-the-fly in hale studio, e.g. the transformation function reference and the detailed reference for I/O providers for use with the command line interface."

Yes, at some point we added the respective bundles needed for that. It bloats up the Infocenter product but allows the reference information to appear there.

[2020-05-29 12:43] florianesser opened #821 "Upgrade to GeoTools 21+"
reference: [GeoTools Java 11 Quickstart](https://docs.geotools.org/latest/userguide/tutorial/quickstart/java11.html)

Due to incompatbible changes in JTS dependency, requires also upgrade of:
- deegree to v3.4.12+ ([relevant commit](https://github.com/deegree/deegree3/commit/e4fb9bc44dba18fb118b54aa7007385f942e431e))

[2020-05-29 12:55] thorsten-reitz commented on #821
Would this include https://github.com/halestudio/hale/issues/573 ?

[2020-05-29 13:41] florianesser commented on #821
Yes, I'd say that ticket would probably become obsolete after the upgrade.

[2020-06-03 18:53] Kate-Lyndegaard commented on #816
@stempler @thorsten-reitz
I have a question about topic #4 in this ticket: Do you have a link to  an existing hale studio video?
I also have a question about topic #5 :  Do we have a write up about the hale studio plugins?

[2020-06-03 18:55] thorsten-reitz commented on #816
I suppose we can use this one?
https://www.youtube.com/watch?v=BKNMV-Jp9HM

[2020-06-03 18:58] thorsten-reitz commented on #816
On item 5 I will add a page until the end of this week.

[2020-06-03 18:59] Kate-Lyndegaard commented on #816
OK great, just let me know. I'm trying to do a few topics per week.

[2020-06-04 15:17] florianesser opened #822 "Upgrade Eclipse platform to 2018-12 or later"
2018-12 is the first version with full Java 11 support ([source](https://www.eclipse.org/eclipse/news/4.10/jdt.php)).

[2020-06-18 08:52] Kate-Lyndegaard commented on #816
@thorsten-reitz
Do you have some pro plugin info for topic #5 in this ticket? Would you like to add the info at this link or in a new location? I would like to update this link, the screenshots are also outdated as they display the GeoServer plugin: http://help.halestudio.org/latest/topic/eu.esdihumboldt.hale.doc.user/html/getting_started/install_plugins.html?cp=0_2_3

[2020-06-19 09:05] thorsten-reitz opened #823 "Remove unused hale server dependencies"
To ease migration to JDK 11, we decided to remove the old unused hale server code and related dependencies.

[2020-06-19 09:10] thorsten-reitz opened #824 "Investigate why GML Dictionary code lists are not loaded properly"
Loading a codelist like http://spec.tn-its.eu/codelists/RoadFeatureSourceCode.xml seems to suceed, but after assigning the codelist to a `href` property, the dropdown doesn't populate. Also, when inserting the values manually, the validator complains about these values.

The codelist above does not contain `name` elements, so I added them through a small transformation project, resulting in entrie

[2020-06-19 15:37] #824 closed

[2020-06-24 12:13] JohannaOtt commented on #816
@Kate-Lyndegaard I found one more part that could need some extra info. Do you want me to only leave it here or should I add it as a bullet point in the original ticket?

* http://help.halestudio.org/latest/topic/eu.esdihumboldt.cst.doc.functions/functions/eu.esdihumboldt.cst.functions.groovy.html?cp=0_6_3_1_9
The meaning of "withTransformationContext" when working with collectors does not seem to

[2020-06-26 14:07] Kate-Lyndegaard commented on #816
@thorsten-reitz @stempler
I am working on issue #5 in this ticket. I want to replace the screenshots with images of installing the pro plugins instead of the Geoserver app schema.
How do users actually obtain the plugins? How would you like to describe the purchasing process, if at all?
So, they first have to purchase a licence and then they receive installation instructions? What do you send them

[2020-06-26 14:10] thorsten-reitz commented on #816
@Kate-Lyndegaard
Installing the plugins: Wasn't there a Guru card on that?
I download the local update site to my computer and then add that site to hale studio (Help -> Install New Software -> Add... -> Archive...), to install them.

Obtaining a license: They now have to get hale studio pro for that. Then they get the download link, the license file and the installation instructions.

[2020-06-26 14:25] Kate-Lyndegaard commented on #816
@thorsten-reitz I will add something along these lines.

[2020-06-29 15:22] thorsten-reitz commented on #808
LGTM, tested with build https://builds.wetransform.to/job/hale/job/hale~publish(master)/504/

[2020-06-29 15:26] thorsten-reitz commented on #822
There are some extra arrows on the welcome page - maybe an artifact of this upgrade?
![grafik](https://user-images.githubusercontent.com/3470356/86024743-aacbd080-ba2d-11ea-817d-53ccc1268101.png)

[2020-06-29 16:36] thorsten-reitz commented on #823
@florianesser can I already challenge this? If yes, how?

[2020-06-29 16:42] thorsten-reitz opened #834 "Make sure no duplicate field names are used when writing GeoPackage"
When using a GML schema to write to a GeoPackage, an error can occur due to attribute swith the same local name being present. This e.g. happens for the `name` attribute. The default behaviour sshould be to favour the attribute defined in the target namespace. We may later handle this via the Model Transformation rules (#815 ).

![grafik](https://user-images.githubusercontent.com/3470356/86032791-

[2020-06-29 16:55] florianesser commented on #823
@thorsten-reitz The `server/` directory was removed from the sources in [this commit](https://github.com/halestudio/hale/commit/a80e4ffaca55d0f13fedd1db869d1cb4a65a40b1). I don't think you can challenge anything in the application as the server code was not included there anyway. @stempler Do you agree?

[2020-06-29 17:59] thorsten-reitz commented on #821
Loading projects with Groovy scripts that use old GeoTools dependencies works. I don't have a script that does a deep/direct call to a JTS class at hand though. Did anyone else test that?

[2020-06-29 18:59] #823 closed

[2020-06-29 20:13] thorsten-reitz commented on #789
Tested with various CRS (EPSG:3035, EPSG:4258, EPSG:25832); LGTM.

[2020-06-29 20:13] #789 closed

[2020-06-29 20:14] thorsten-reitz commented on #788
Tested, LGTM.

[2020-06-29 20:14] #788 closed

[2020-06-30 06:42] thorsten-reitz commented on #814
@florianesser I have tested the writer as is, LGTM. What I didn't find is the setting to use the plan's gml:id as the file name.

[2020-06-30 06:59] thorsten-reitz commented on #799
Tested this, LGTM.

[2020-06-30 06:59] #799 closed

[2020-06-30 07:00] thorsten-reitz commented on #799
Development of this feature was sponsored by the XLeitstelle.

[2020-06-30 07:01] thorsten-reitz commented on #774
@florianesser Is there a specific procedure I can use to challenge this?

[2020-06-30 07:03] thorsten-reitz commented on #822
Startup time seems to have improved with the latest builds, maybe a result of removing the server parts?

[2020-06-30 07:11] stempler commented on #822
No server bundles were part of the desktop application. That was just about removing stuff that is not used anymore (the server product).

[2020-06-30 07:12] florianesser commented on #814
@thorsten-reitz That and the split by plan feature are still under development. The first PR only included the writer.

[2020-06-30 07:14] thorsten-reitz commented on #814
OK thanks. I supposed that I could just use the partitioning modes that were already present.

[2020-06-30 07:15] thorsten-reitz commented on #822
Hm, OK. Just timed the difference, it isn't massive - the build from 20200619 is starting about 2s slower (15s) than the latest build (13s).

[2020-06-30 09:34] florianesser commented on #774
@thorsten-reitz: @Kate-Lyndegaard had a problem with one of the MST datasets on haleconnect.com. I'll try to find the relevant Slack thread and point you to it.

[2020-06-30 11:55] thorsten-reitz commented on #783
Eclipse has been updated to 2020-03 here: #822

Evaluation has shown only minor speed-up of start-up time (15s vs 13s). Still have to test whether screen sharing interferes with start up times as it used to.

Since this is a duplicate, I will close this ticket.

[2020-06-30 11:55] #783 closed

[2020-06-30 11:57] thorsten-reitz commented on #340
Is this still current, after the eclipse upgrades? Would it fix the display errors on the Welcome page?

[2020-06-30 12:21] thorsten-reitz commented on #419
Not relevant anymore.

[2020-06-30 12:21] #419 closed

[2020-06-30 17:37] thorsten-reitz commented on #814
LGTM, works as expected.

[2020-06-30 17:37] #814 closed

[2020-06-30 17:38] #808 closed

[2020-06-30 17:40] thorsten-reitz commented on #637
CLosing as a subset of #816

[2020-06-30 17:40] #637 closed

[2020-06-30 17:41] thorsten-reitz opened #839 "Add TN-ITS schema as Preset"

[2020-06-30 20:02] florianesser commented on #839
Schema URL is `http://spec.tn-its.eu/schemas/TNITS.xsd`. Preset was added with [this commit](https://github.com/halestudio/hale/pull/838/commits/d0f03ab96116f37cbba574262572c8dec3e3ec8c).

[2020-06-30 20:06] florianesser commented on #801
I added is a preset for now ([commit](https://github.com/halestudio/hale/pull/838/commits/a46cefc8241578b6fe751d4745a267ec76dde155)). I'd suggest to include all of the 19139 schemas as resources in a future release.

[2020-07-01 08:12] thorsten-reitz commented on #839
LGTM.

[2020-07-01 08:12] #839 closed

[2020-07-01 08:14] thorsten-reitz commented on #801
LGTM.

[2020-07-01 08:14] #801 closed

[2020-07-01 08:14] thorsten-reitz commented on #615
LGTM

[2020-07-01 08:14] #615 closed

[2020-07-01 10:32] #774 closed

[2020-07-01 10:33] thorsten-reitz commented on #816
@Kate-Lyndegaard (final) quesiton on this: Could you also add a What's new in 4.0.0 entry into the hs help? There is a blog post available that you can use as a template:

https://github.com/wetransform/www.wetransform.to/pull/442

[2020-07-01 10:39] florianesser commented on #816
@Kate-Lyndegaard You can find the What's New page for 3.5.0 here which you can use as a template: https://github.com/halestudio/hale/blob/master/doc/plugins/eu.esdihumboldt.hale.doc.user/html/new/3_5_0.xhtml

You'd also need to add the new page to the table of contents: https://github.com/halestudio/hale/blob/master/doc/plugins/eu.esdihumboldt.hale.doc.user/toc.xml

[2020-07-01 11:11] Kate-Lyndegaard commented on #816
@florianesser Do you have a link to the changelog?

[2020-07-01 11:12] thorsten-reitz commented on #816
The changelog link is here:
https://github.com/halestudio/hale/blob/master/CHANGELOG.md#400

[2020-07-01 11:12] thorsten-reitz commented on #816
Note that this is only the link, the content is still to be added.

[2020-07-01 11:15] Kate-Lyndegaard commented on #816
@thorsten-reitz Great, thanks.

[2020-07-01 14:31] florianesser commented on #732
Looks good now with the example project provided, closing.

[2020-07-01 14:31] #732 closed

[2020-07-01 18:08] florianesser opened #846 "Welcome page has glitches"
Since the [upgrade to Eclipse 2020-03](https://github.com/halestudio/hale/issues/822), some elements of the Welcome page are duplicated and/or are out place.

[2020-07-01 18:09] #822 closed

[2020-07-01 20:45] #821 closed

[2020-07-06 10:46] fjlopez opened #847 "macOS Catalina 10.15.5 reports hale studio.app 4.0.0 as damaged"
Expected behaviour
----
Run **hale studio.app** obtained from the 4.0.0 release **[.dmg](https://github.com/halestudio/hale/releases/download/4.0.0/hale-studio-4.0.0-macosx.cocoa.x86_64.dmg)** in **macOS Catalina 10.15.5**.

Current Behaviour
----
**macOS Catalina 10.15.5** reports **hale studio.app**  as damaged, and, hence, can't be opened, _even with Gatekeeper disabled_.

<img width="488" alt=

[2020-07-06 10:54] florianesser commented on #847
Hi @fjlopez, thanks for using hale studio and reaching out to us!

hale studio 4.0.0 still needs Java 8 to run. The macOS version doesn't come with a packaged JDK and a typical problem is that JDK 8 is not available. Do you have JDK 8 installed? If you open a console, what does the command `java -version` return?

[2020-07-06 11:11] fjlopez commented on #847
I use `jenv` to manage different JDK versions. I have tested it with the Oracle JDK 8 as follows:

[code]
and then fails

[2020-07-06 13:17] florianesser commented on #847
Thanks for the info, we'll look into it.

[2020-07-07 12:25] Kate-Lyndegaard commented on #816
@thorsten-reitz I'm adding #15 to the docs- do we have any existing details on the GeoJSON reader and writer? I have content for new sections on the Xplan reader and writer, and the GeoPackage reader and writer...

[2020-07-09 16:23] florianesser opened #849 "hale studio 4.0.0 does not start on macOS"
Startup hangs at splash screen before showing version information. Reproduced on macOS 10.13.4, happens both for installed app and when running from Eclipse.

[2020-07-09 16:26] florianesser commented on #847
While investigating this problem, I found that hale studio 4.0.0 doesn't start up on macOS even when the error reported in this issue does not occur (see #849). I think it makes sense to work on the start problem first and see if that helps to resolve this issue.

[2020-07-21 12:58] JohannaOtt opened #853 "Spatial Join does not work for some points and polygons"
When using [this project](https://haleconnect.com/#/transformation/org/759/080435ce-896e-4bd0-89c4-bda320e3a004/tasks/b4kr), the Spatial Join does not work for some point/polygon combinations.
The issue occurs for Build 701252867
Revision 27ccd157d288a0ff57daf06c25fca5c01f766738
But running the transformation in the current 4.1.0 Snapshot did lead to the same result.

Only 51 DerivedSoilProfile.is

[2020-08-18 08:18] florianesser opened #855 "cli: FGDB reader: don't load data multiple times when source is a directory"
When using the FileGeodatabase reader from the pro plugins in a command line transformation and the value of the `-source` parameter is a directory, hale will load the source data from all `gdbtables` files several times, depending on the number of `gdbtables` files inside that directory. To prevent that, users need to provide the path to one of the `gdbtables` files in the `-source` parameter ins

[2020-08-18 09:24] JohannaOtt opened #856 "Add all schema locations to GML exports containing top level objects from several schemas"
When exporting data with hale studio that is containing top level objects from several schemas (e.g. the case for INSPIRE Soil if OM_Observation objects are created), the files do not validate in the INSPIRE Validator with error messages such as:
`XML document '[...]': 3:67: cvc-complex-type.2.4.a: Invalid content was found starting with element '{"http://www.opengis.net/om/2.0":OM_Observation}'.

[2020-08-25 09:29] JohannaOtt opened #857 "Support boundedBy for XPlanAuszug in XPLanWriter"
With the current implementation of the XPlan Writer, it is not possible to add a boundedBy value to the root element XPlanAuszug.
This should be possible - either by creating an according mapping or automatically generated from the geometries of the contained objects.

[2020-08-28 07:15] Kate-Lyndegaard opened #859 "Cannot access source attribute for use in Groovy Script function"
I am using:
Version 4.0.0.SNAPSHOT
Build 202006301749
Revision 01bb23bdd97747d41cf6cd48f93635a29b24d739

Transformation Project (Human Health testing on Box):
https://wetransform.box.com/s/hscwk0cebxi1yzw1nzswue5jx29zk43r

The transformation uses the INSPIRE Human Health schema. The source data is in CSV format and does not have IDs.
I applied a Groovy Script function to create IDs using the hash

[2020-09-08 16:39] florianesser opened #861 "Loading schemas with geometries is significantly slower in hale studio 4.0.0"
When loading projects that use source or target schemas with geometries, loading takes significantly longer than in previous versions. The console is flooded with the message
[code]

[2020-09-09 07:44] florianesser commented on #861
Can be tested with [build 168](http://build-artifacts.wetransform.to/?prefix=travisci/hale/168/) or later.

[2020-09-09 14:52] opeeters commented on #849
On macOS 10.15.6 launching `hale studio.app` ends with this message:
[code]
After removing attributes like this:
[code]
it hangs at the splash screen state as described above.

[2020-09-15 08:09] JohannaOtt opened #863 "Allow referencing other plans when exporting data using XPlan writer"
It currently is not possible to reference from one plan to another using the XPlan writer with the option to create a separate output file for every plan element.

In the XPlanung schema, the abstract feature type [XP_Plan](http://www.xplanungwiki.de/upload/XPlanGML/5.2/Objektartenkatalog/html/xplan_XP_Plan.html) (inherited by BP_Plan, FP_Plan and RP_Plan) contains the attributes [aendert](http://

[2020-09-15 08:13] thorsten-reitz commented on #863
I think there are two issues here:

1. exporting the plans separately (i.e. adding the "ignore references such as "aendert" between different plans when partitioning")
2. making sure the reference is still valid after the plans have been published, e.g. on hale connect.

When we partition them to different files in the same folder, it would be relatively easy to create a valid xlink:href. What I a

[2020-09-24 14:39] apfelnymous commented on #856
Anyone knows for this particular case whats the solution ?
Including the namespace of OM_Observation "http://www.opengis.net/om/2.0" didnt get me anywhere yet.

[2020-09-25 07:35] JohannaOtt commented on #856
I was just about to write a reply - good news that you already found the issue 👍

[2020-10-08 12:06] JohannaOtt opened #867 "Update schema location of XPlanung schemas"
According to information from the XLeitstelle, the XPlanung schemas will not stay available at http://www.xplanungwiki.de/upload/XPlanGML/. They are already (and will be) available at the GDI-DE Registry (http://repository.gdi-de.org/schemas/de.xleitstelle.xplanung/).
The schema location for the XPlanung presets used in hale studio should therefore be changed to the GDI-DE URL.

[2020-10-13 13:19] JohannaOtt opened #869 "Join does not work if property if n instances of focused type belong to the same ob"
Use case:
- join two featuretypes A and B on their properties a and b
- focus should be on featuretype A
- property b occurs

[2020-11-16 06:44] thorsten-reitz commented on #857
Are there other elements that would make sense to have? For the BoundedBy element, I would prefer to make that an option on the XPlanGML Writer to emit it or not, and to automatically compute it.

[2020-11-17 17:47] florianesser opened #870 "Issue warnings for unknown CLI parameters"
Issue a warning when CLI command line contains unknown parameters, e.g. like in this case where the `S` prefix was accidentally omitted for the target provider parameters:
[code]

[2020-11-20 09:19] florianesser opened #871 "File selection dialog hangs on macOS"
When trying to open the file selection dialog via the `Browse...` button (see screenshot), the application freezes on macOS 10.15.7. This applies to both hale studio 3.5.0 and the 4.0.0 preview release.

Thank you @sfrese for reporting this problem!

<img width="696" alt="Screenshot 2020-11-20 at 06 32 21" src="https://user-images.githubusercontent.com/1867607/99782578-a22d8100-2b19-11eb-8dfd-004f

[2020-12-08 11:16] JohannaOtt commented on #543
The same is true for warnings. When importing data where no FeatureType is fitting to the FeatureTypes of the available source schema, the Report List does not give a respective information to the user. There is only this warning in the error log:
![grafik](https://user-images.githubusercontent.com/34163838/101477040-f07eb480-394e-11eb-90f7-50f0fc4b4f42.png)
In order to inform users about why no d

[2020-12-21 06:55] JohannaOtt opened #872 "Add read (write) support for MySQL"
A reader for MySQL databases should be added in order to support one more format. If possible in the scope of this issue, a writer should be added, too. Otherwise, a follow up ticket should be created to support writing MySQL databases.

[2021-01-14 14:18] Kate-Lyndegaard opened #873 "Investigate missing function documentation updates"
In the 2021-01-14 Documentation meeting, we discussed the fact that recently updated function documentation does not appear in hale studio release 4.1. Florian was able to view the updates in his local version, however it cannot be viewed in the latest 4.1 desktop release.

The purpose of this ticket is to investigate why the documentation updates are not included.

Merged PR which contains the mi

[2021-01-22 13:25] JohannaOtt opened #874 "Add dropdown for INSPIRE elements using external codelists"
For some INSPIRE elements, external codelists are used. E.g. ISO codelists for GeographicalName.language or SpellingOfName.script.
It would be helpful to provide drowdown values for such elements in case an INSPIRE target schema is used.

[2021-01-29 10:29] nicolasdiedrich opened #878 "Hale Studio freeze while WFS Import"
Hale studio freezes when importing WFS data.

- Occurs after the occurrence of an error during WFS import when import is repeated.
- The process continues endlessly and aborting is not possible.
- An error message does not occur again
- Only solution: shut down Hale studio via task manager

![Freeze](https://user-images.githubusercontent.com/75833042/106264220-aebf0b80-6225-11eb-94b5-4fabc3cecc8a.

[2021-02-01 14:44] jbroq opened #880 "hale studio 4.0.0 does not install on Windows 10"
Hi,

The following MSI is not allowed to install on windows 10 "Microsoft Defender SmartScreen"
https://github.com/halestudio/hale/releases/download/4.0.0/hale-studio-4.0.0-en-x64.msi

As I am using a corporation laptop, the case might be high security rights, in any case, I think that security should not be an issue.

Best regards

[2021-02-22 11:01] florianesser commented on #880
Hi @jbroq,

Thanks for reaching out. The likely cause for this is that the hale studio installer is not signed and, therefore, considered problematic by Microsoft Defender. To install hale studio with the installer package, you will have to specifically allow installation in Microsoft Defender. This may not be possible due to corporate security constraints.

You could alternatively download the [Z

[2021-02-26 09:24] florianesser opened #882 "Add support for RegEx operator =~ in Groovy scripts"
The modified version 1.6.0.hale of the groovy-sandbox used internally to evaluate Groovy scripts does not intercept RegEx operators `=~` and `==~`. This feature [is available upstream](https://github.com/jenkinsci/groovy-sandbox/commit/dca7b2d57f964818409f992a2fbd2b602d1993ed) and can likely be cherry-picked into the adapted version.

[2021-02-27 16:36] florianesser opened #883 "Support creating a spatial index when writing GeoPackage files"
GeoPackage supports spatial indexes via its [extension mechanism](http://www.geopackage.org/spec120/#extension_mechanism). The GeoPackage writer in hale studio should be extended so that spatial indexes can be created when writing new GeoPackage files.

[2021-03-03 13:26] JohannaOtt commented on #712
There are also redirects implemented for the INSPIRE schemas which leads to the fact that the XML validation fails when exporting data using an http URI (e.g. http://inspire.ec.europa.eu/schemas/hh/4.0/HumanHealth.xsd)

[2021-03-04 08:59] florianesser commented on #883
Closing, successfully tested by @thorsten-reitz

[2021-03-04 08:59] #883 closed

[2021-03-16 09:29] JohannaOtt opened #887 "Implement potential date value fix when reading geopackages"
According to the [spec](http://www.geopackage.org/spec/#r5), the data type DATETIME calls for ISO-8601 encoded values in the UTC time zone: "DATETIME ISO-8601 date/time string in the form YYYY-MM-DDTHH:MM:SS.SSSZ with T separator character and Z suffix for coordinated universal time (UTC) encoded in either UTF-8 or UTF-16."
If this encoding is not fulfilled, importing such geopackage data results

[2021-03-23 02:10] Alina-AH opened #889 "Can not use assign function under linux"
In the linux build of hale studio 4.0.0 using the assign function as shown in [this video tutorial](https://www.youtube.com/watch?v=3JqiUNOHMdQ) at 34:30 does not work. In the windows build (using wine) it does.

[2021-03-23 07:18] florianesser commented on #889
Hi @Alina-AH,

Thank you for reaching out! There is a known issue in the "Please enter the value to assign" screen of the Linux version that prevents moving the focus to the input field using the mouse.

In case you are experiencing this problem, a workaround is to use the Tab key to move focus instead. Just press the Tab key repeatedly until you see a blinking cursor in the input field. You shoul

[2021-03-23 16:14] JohannaOtt opened #890 "Validation of XPlan writer erroneously throws warnings on missing objects"
Version 4.1.0.SNAPSHOT
Build 763247191
Revision df620a7f13f58d8b80d5f5b3f488e3c3a3229e35

When transforming several objects to XPlan and exporting them with the Xplan writer using the functionality to create separate output files for every plan element, the writer throws many warnings all following the same pattern
![grafik](https://user-images.githubusercontent.com/34163838/112179455-001ec200-8bf

[2021-04-01 07:06] laers opened #892 "Not able to install Hale Studio"
Hi,

I have:
macOS version 10.15.7
Java version: Java 8 (8u262-b10)

I am:
trying to install Hale studio 3.5.0

Fails:
When I try to run Hale Studio a message with "An error has occurred. See the log file
/Applications/hale studio.app/Contents/Eclipse/configuration/1617260646278.log." is returned.

The log file:
!SESSION 2021-04-01 09:04:05.852 -----------------------------------------------
eclip

[2021-04-01 12:18] JohannaOtt commented on #892
Hi @laers , there is [this issue](https://github.com/halestudio/hale/issues/849) on issues with starting on macOS. Maybe the workaround opeeters describes in his comment might help for you, too. He is using 10.15.6 though.
There is also a comment in the [3.5.0 release notes](https://github.com/halestudio/hale/releases/tag/3.5.0) on Java 8 JDK installation for macOS users - did you see that?

[2021-04-07 04:57] laers commented on #892
Thanks @JohannaOtt for the hint. I manage to complete the installation (4.0.0 snapshot) but had still some difficulties in opening HALE. A simple workaround is to open HALE in Terminal
$ open -a "Hale Studio"

[2021-04-07 04:57] #892 closed

[2021-04-07 15:58] Ottootto2010 commented on #892
Hi I am having the same issue as described, but unfortunately the workaround does not work for me.

[2021-04-08 05:55] axza opened #893 "ERROR writing deegree SQL mapping (with preset INSPIRE schemas/elu/4.0)"
Exporting the deegree SQL mapping while using the Target scheme `INSPIRE Existing Land Use 4.0` [schemas/elu/4.0](http://inspire.ec.europa.eu/schemas/elu/4.0) from preset is followed by this error.

ERROR:
[code]

Export using the same scheme as a local saved file works as expected.

[2021-04-08 06:18] JohannaOtt commented on #892
@Ottootto2010 Which version of macOS are you using?

[2021-04-08 08:25] florianesser commented on #893
Hi @axza,

Thanks for reaching out! The error message looks like the problem is related to the recently added automatic redirect of INSPIRE schema URLs from http to https. Could you please try to manually change the INSPIRE schema URLs in your `halex` file from http to https? You can do that by finding the `resource` elements that have the value `eu.esdihumboldt.hale.io.xsd.reader` in its `provide

[2021-04-08 09:17] axza commented on #893
Ahoi @florianesser!
Thanks for the explanation and directions.

changed
 `<setting name="source">resource1/ExistingLandUse.xsd</setting>`
to
`<setting name="source">https://inspire.ec.europa.eu/https-schemas/elu/4.0/ExistingLandUse.xsd</setting>`
and now the alignment-export works as expected.

[2021-04-28 09:43] fantamir opened #898 "Assign function bug"
[AssignBug.zip](https://github.com/halestudio/hale/files/6390739/AssignBug.zip)

In certain situations, the **Assign** function does not work properly.

See the attached project **SoilTest3.halex**:
**Source schema + source data**: tables soilBodies.csv (2 records), soilProfiles.csv (3 records) and soilHorizons.csv (12 records)
**Target schema**: preset INSPIRE Soil 4.0
Source –> Target alignment:

[2021-07-16 10:21] thorsten-reitz opened #904 "Add END-related code list presets"

[2021-07-16 10:24] thorsten-reitz opened #905 "Generate Sequential ID: Allow to provide a starting number"
Currently, the Generate Sequential ID function always starts with `1`. There are cases where users want to provide different starting numbers. Ths should be allowed in the existing function.

[2021-07-29 08:10] frippe12573 commented on #849
@florianesser, @opeeters, @JohannaOtt
On macOs 11.5.1 launching hale studio.app (both version 3.5.0 and 4.0.0 downloaded from the website) ends with this message:

`Alert: Failed to create the Java Virtual Machine`

The installe Java version is:
`java -version
java version "1.8.0_301"
Java(TM) SE Runtime Environment (build 1.8.0_301-b09)
Java HotSpot(TM) 64-Bit Server VM (build 25.301-b09, mixed m

[2021-07-29 15:36] thorsten-reitz opened #906 "Enable using the geotools shapefile writer to export data"
It should be possible to write out source and transformed data using the integrated geotools library.

[2021-07-29 15:43] thorsten-reitz commented on #746
@florianesser @Kate-Lyndegaard Is this really a bug? IIRC that is the bundle/archive path inside the archive that was uploaded. I wouldn't expect or want to see my local paths being exposed after upload.

[2021-07-30 07:02] Kate-Lyndegaard commented on #746
@thorsten-reitz I think the issue here, was that the .halex files stored locally were altered. The uploaded transformation projects on haleconnect contain the bundle/archive paths, and that is expected. What was not expected, was that the local paths of the .halex files stored locally would be altered.

Using the latest version of hale studio (4.1.0), I cannot reproduce the issue.

[2021-07-30 07:04] thorsten-reitz commented on #746
@Kate-Lyndegaard OK thanks for the clarification. If it can't reproduce anymore, I'd vote in favour of closing the issue.

[2021-07-30 07:06] thorsten-reitz commented on #887
LGTM. Tested with build https://builds.wetransform.to/job/hale/job/hale%7Epublish(master)/546/

[2021-07-30 07:06] #887 closed

[2021-07-30 07:07] thorsten-reitz commented on #861
LGTM, tested with build https://builds.wetransform.to/job/hale/job/hale%7Epublish(master)/546/

[2021-07-30 07:07] #861 closed

[2021-07-30 07:07] thorsten-reitz commented on #861
@florianesser should I have tested with the TravisCI build?

[2021-07-30 07:33] #746 closed

[2021-08-09 06:34] JohannaOtt commented on #872
I added it to 4.2.0.

[2021-08-09 15:34] kapil-agnihotri commented on #849
In Mac, application flow hangs when loading `WKTPreferencesCRSFactory` and initialising the HSQL database during application startup. After the discussion with @stempler, we concluded that these steps can be skipped during the initialisation phase (for Mac version of hale studio). Also, in the previous builds of Mac Hale Studio application, `jre` was referred to and not bundled within the applicat

[2021-08-10 14:14] JohannaOtt commented on #867
@florianesser Can this be closed?

[2021-08-10 14:44] JohannaOtt commented on #873
@florianesser Didn't you report that this was addressed some time ago?

[2021-08-16 17:19] kapil-agnihotri commented on #849
Changes to start the hale studio on macOS w.r.t. the splash screen is merged to the master.  However, the user must execute the below command in the `terminal` to launch the software after the installation:
[code]
Explanation
Newer versions of macOS (Catalina and later) includes [Gatekeeper technology](https://support.apple.com/en-us/HT202491) that mandates any software to be notarized for securit

[2021-08-16 17:39] kapil-agnihotri opened #908 "Notarize the hale studio macOS build to pass the Gatekeeper check for macOS Catalina and later"
Version: 4.1.0.SNAPSHOT
Build 547

Newer versions of macOS (Catalina and later) includes [Gatekeeper technology](https://support.apple.com/en-us/HT202491) that mandates any software to be notarized for security reasons. Therefore, in these versions, when the hale studio software is downloaded from the internet, macOS adds extended attribute `com.apple.quarantine` to it and prevents its launch by g

[2021-08-17 10:10] JohannaOtt commented on #849
@opeeters @frippe12573  The latest build where the workaround @kapil-agnihotri  describes can be applied to is available [here](http://build-artifacts.wetransform.to/index.html?prefix=travisci/hale/224/)

@florianesser As there is a [follow up ticket](https://github.com/halestudio/hale/issues/908) to overcome the remaining issue, I would be in favor of closing this issue. Do you agree?

[2021-08-17 10:12] JohannaOtt commented on #847
@fjlopez A potential workaround is described [here](https://github.com/halestudio/hale/issues/849#issuecomment-899680614)

[2021-08-17 14:36] JohannaOtt opened #909 "Add option to overwrite structural Retype mapping for single elements"
Currently, when using a structural Retype mapping, there is no option to change single elements.
Sometimes, there are use cases, where you want to keep the biggest part of the source data, but only want to change a few elements.
In these cases it would be helpful to be able to "overwrite" the mapping resulting from the structural Retype with an explicite mapping on property level.
So there should

[2021-08-19 06:38] florianesser commented on #861
@thorsten-reitz I don't expect differences between the Travis and the Jenkins builds, so testing either is fine from my perspective. The reason we still have two builds is that I couldn't implement the artifact upload step (which runs after the software build is completed) successfully on Travis due to timeouts.

[2021-08-19 06:49] florianesser commented on #867
@JohannaOtt If someone challenged this successfully, then yes.

[2021-08-19 06:52] florianesser commented on #873
@JohannaOtt Indeed I think this should be fixed by https://github.com/halestudio/hale/commit/0c3549e01b250021a2f7dd8f740ef13980efea3d. Would be great if you could challenge it.

[2021-08-19 06:55] florianesser commented on #849
@JohannaOtt :+1:

[2021-08-19 08:16] #849 closed

[2021-08-19 13:30] frippe12573 commented on #849
@JohannaOtt that worked for me.
Thanks.

[2021-08-19 16:21] opeeters commented on #849
Worked for me too..
Thanks for solving this!

[2021-08-20 14:00] JohannaOtt commented on #867
I can confirm the new URLs are used when importing the schema presets with the latest hale studio build:
![grafik](https://user-images.githubusercontent.com/34163838/130244971-4c814e69-afe3-4118-a505-54c403877d8f.png)

[2021-08-20 14:00] #867 closed

[2021-08-20 14:10] JohannaOtt commented on #873
I can confirm that the sections added in the mentioned PR display in the current build.

[2021-08-20 14:10] #873 closed

[2021-08-20 14:24] JohannaOtt opened #910 "Remove "choice" from path created by insert attribute helper"
When using the insert attribute name functionality (e.g. when creating a condition context) and there is a choice in the path of it, the word "choice" is inserted in the condition context:
![grafik](https://user-images.githubusercontent.com/34163838/130247933-e43d08b1-3e83-4a3e-bc0f-61065345caf6.png)
![grafik](https://user-images.githubusercontent.com/34163838/130247991-4ae50e75-d160-489d-9d97-588

[2021-08-20 14:29] JohannaOtt opened #911 "Update groovy compiler to version 2.5 or newer"
hale»studio currently uses version 2.4 of the Groovy compiler. The Groovy Eclipse plugin [does not support this compiler version anymore](https://github.com/groovy/groovy-eclipse/issues/1183) since its version 4.0.0+. The Groovy 2.4 compiler is therefore no longer available when using Eclipse 2020-09 or later.

To avoid having to stick with old versions of Eclipse and the Groovy Eclipse plugin, th

[2021-08-23 14:47] thorsten-reitz commented on #909
I agree with this, it would be quite powerful to have such a feature.

[2021-08-31 06:35] thorsten-reitz commented on #782
Is it possible to use the "reload and update schemas" process for CSVs? Because that would normally be the way to deal with changes to the schemas. hale studio doesn't generally recognize such changes.

[2021-09-06 14:47] JohannaOtt opened #917 "Add geometry validation for source data"
For users it might be interesting to get feedback about the validation status of geometries contained in the source data.
Therefore, there should be an option in data readers to execute geometry tests for source data.
These tests should include geometry tests such as self interesections etc.

[2021-09-07 10:29] kapil-agnihotri opened #919 "XML imports: Source and target schema do not show imported schema after exclude type from mapping"
After importing an XML schema in the hale studio either as a source or a target, if the user `excludes type from mapping` from the imported xml schema, then the further imports of any other `*.json, *.gpkg, or *.shp` in the same category doesn't show up in the schema explorer view.

Steps to reproduce:
1. Import any xml schema in either source (or target).
2. In schema explorer view, right click o

[2021-09-08 12:10] JohannaOtt opened #920 "Transmit database connection information from schema import to data import"
When importing source data from a database, the connection information needs to be entered twice - once for importing the source schema, once for importing the source data.
When a schema was imported from a database, and afterwards, source data is imported, there should be an option to re-use the connection information given before.
This could either be that the connection is already entered as a

[2021-09-14 14:17] Flaminietta commented on #849
**Hale studio 4.0.0 crashes when doing some mapping in mac OS BigSur, v. 11.5.2, with chip Apple M1**

**Solution**

- Download Liberica JDK x86 release for mac [https://download.bell-sw.com/java/11.0.10+9/bellsoft-jdk11.0.10+9-macos-amd64.zip]
- copy the entire content of the top-level directory into `hale studio > Contents > Eclipse > jre > Contents > Home`

[2021-10-04 10:00] JohannaOtt opened #924 "Create functions for groovy scripts that are often used"
There are some groovy scripts that re-occur regularly and could therefore be turned into new hale studio functions.

* create hashs from multiple input attributes
* create GeographicalName instances from one input attribute with fixed values for language etc.
* create date as TimePositionTime from date or text field
* create text with date in specific format from date or text field
* replace speci

[2021-10-04 11:15] stempler commented on #924
Do you see that in direction of https://github.com/halestudio/hale/issues/295, doing this based on custom functions?

Are there cases where the regular expression extraction function cannot be used?

[2021-10-04 12:01] JohannaOtt commented on #924
I rather expected them to be new functions in the application just as Rename or Formatted String. So that users can use them with an interface/dialogue without having to use groovy scripts.

Creating hashs, geographical names and dates would not work with it AFAIK. Also, my experience is that many users have difficulties using the regular expression function, so if more explicit functions could be

[2021-10-07 14:21] pvgenuchten opened #927 "Include views when importing data structure from access"
In quite cases it is more handy to create a view on database side then to use join and filter on hale side.
would be nice if hale would fetch the views from a database while importing its structure
In access views are called queries and I don’t know if they are exposed from the jdbc interface

[2021-10-08 12:38] JohannaOtt opened #928 "Allow loading protected WFS"
Currently, it is not possible to load schemas or data from protected WFS as for example [this one](https://inspire-hessen.de/ows/services/org.2.192ad607-8b16-4dbb-ab67-a64690bd47f1_wfs?SERVICE=WFS&REQUEST=GetCapabilities&VERSION=2.0.0).

There should be an option to deliver the credentials in such cases, so that the WFS can be accessed and the data can be imported to hale studio.

[2021-10-13 14:37] Claudia-WE opened #929 "Implement GeoJSON schema reader"
Currently it is not possile to load GeoJSON source schema and source data into hale studio.
Tested with Version 4.1.0.SNAPSHOT, Build 202105251027 incl Pro-Plugin.

When trying to import source schema from json-File the following error appears:
![grafik](https://user-images.githubusercontent.com/54665693/137155185-c63646bc-3368-4954-ab66-f1c47bfb72fd.png)

[2021-10-13 14:39] Claudia-WE commented on #929
Please ask me for test data when analysing this issue.

[2021-10-19 07:52] thorsten-reitz commented on #904
LGTM, tested with https://builds.wetransform.to/job/hale/job/hale%7Epublish(master)/559/

[2021-10-19 07:58] JohannaOtt commented on #816
As far as I can see there a still some points that are not addressed yet (do not have a "DONE" prefixed).
@Claudia-WE is taking care of regularly creating new issues for the help update and moving open points there.

[2021-11-01 10:46] JohannaOtt opened #933 "Add option to avoid namespace prefixes reserved by QGIS"
According to [this issue](https://github.com/BRGM/gml_application_schema_toolbox/issues/83#issuecomment-498143290) QGIS has some namespace prefixes reserved for internal use.
For users creating data with hale studio and planning to load their data with QGIS, it would be convenient to have an option to avoid these prefixes during data export.

[2021-11-02 12:58] JohannaOtt opened #934 "No error message displayed for Groovy script (greedy) function with failing script"
For a mapping from a property with cardinality 0..1 called "NAME" to another property with 1 using a groovy script(greedy) with this script
`"BP_Plan_" + _.crypto.sha256 (NAME)`
an error is displayed but there is no error message displayed as expected.
![grafik](https://user-images.githubusercontent.com/34163838/139850751-3abd76d6-1166-4c4f-a486-d4f3340321ae.png)

Usually, when groovy scripts caus

[2021-11-03 08:28] JohannaOtt commented on #924
Think about turning all functions into ready-to-use-functions that are offered in the function packages of a Groovy Script function.

[2021-11-04 14:05] JohannaOtt opened #935 "Add option to export validation warnings including concerned objects"
When the instance validation results in validation warnings, there are maximum 5 warnings displayed per missing/wrong attribute.
When clicking on the respective warnings, the transformed data view displays the object for which the warning occurs.
With this navigation inside the UI, a user can check maximum 5 objects for which a validation warning occurs.
It would be useful if one could export a li

[2021-11-04 14:14] JohannaOtt commented on #623
Still occurring in 4.0.0 release. Unfortunately, still no clear reproduction case.

[2021-11-04 14:14] thorsten-reitz commented on #623
Do you mean the 4.1.0 release candidate?

[2021-11-04 14:16] JohannaOtt commented on #623
No, I mean the 4.0.0 release.

[2021-11-04 14:44] JohannaOtt opened #936 "Add option to Date Extraction function to use lenient or non-lenient date/time interpretation"
Currently, when using the Date Extraction function in hale studio, dates are parsed using the [lenient mode](https://docs.oracle.com/javase/8/docs/api/java/util/Calendar.html#setLenient(boolean)). That leads to the fact that "non-existing" date values (for example Feb 30th) are interpreted as correct dates (Mar 2nd for the example).
It would be helpful if users could decide on their own if a date

[2021-11-04 15:07] JohannaOtt opened #937 "Make property for naming single XPlanGML files configurable"
When using the XPlanGML writer with its option to create on file per plan, the naming convention for the files written currently is "[filename].[featuretype name].[gml:id].
It would be convenient for later handling/processing of the data if users could chose themelves which attribute of the plan is used for the file naming (for example name instead of id).
Challenge when using different attributes

[2021-11-09 17:15] florianesser commented on #929
To support reading JSON Schema, a corresponding schema reader would need to be implemented. The error message you're seeing comes from the fact that hale»studio tries to interpret the JSON Schema file as a hale»studio schema definition (HSD) file instead, which fails.

[2021-11-16 16:09] thorsten-reitz opened #941 "Add TopoJSON Writer"
TopoJSON is an extension of GeoJSON that encodes topology for Linestring and Polygon data. Rather than representing geometries discretely, geometries in TopoJSON files are stitched together from shared line segments called arcs. TopoJSON is most effective for coverage-style datasets consisting of many polygons that touch eahc other, like administrative units or cadastral parcels.

In hale studio,

[2021-11-17 17:13] thorsten-reitz commented on #906
LGTM!

[2021-11-17 17:13] #906 closed

[2021-11-17 17:14] #816 closed

[2021-11-18 09:48] Claudia-WE opened #944 "Update help 4.2.0"
Within this issue todos on the HS Documentation shall be documented.
This issue is valid for Release 4.2.0

Intro:
There are some parts of the help that are outdated - others need an update. These are the pages/things affected from my point of view and those that were already collected in a different ticket. If anyone finds other parts that need to be reviewed - please don't hesitate to add them.

[2021-11-19 14:43] kapil-agnihotri opened #945 "build: create dmg file for Mac with M1 chip"
Similar to the the installer for Mac with intel chip, create an installer for Mac with M1 chip bundled with its compatible jdk.

[2021-11-24 10:22] dhdeangelis commented on #878
I wonder if this issue is solved or any ideas have emerged for a workaround. I am using Hale 4.1.0 (released one week ago) and I am experiencing a similar problem with one particular WFS service: the GUI stalls while loading the source data. Even a small subset, 100-500 features, cannot finish loading.
This particular WFS exposes a total of 1.2 million features but I am not loading all of it at on

[2021-11-24 10:35] thorsten-reitz commented on #878
@florianesser Might this be related to the problem where, due to incorrect paging, the same features were loaded again and again? The stacktrace looks different though.

[2021-11-24 12:11] dhdeangelis commented on #878
Thanks for your comment, @thorsten-reitz I must correct my post above, I see the problem with both WFS services, not with only one as implied above.

[2021-11-24 19:03] thorsten-reitz opened #946 "It should be possibel to import an alignment when only a target schema has been loaded"
Currently, a source and target schema needs to be loaded to be able to import an alignment. However I oftne create tempaltes in hale studio where only the target shcema is required, so it would be good to be able to import an alignment in such cases.

[2021-11-25 11:42] dhdeangelis commented on #878
I found a workaround to this. I set the project up in the GUI using a WFS GetFeatures request with a low Count limit (100). After the  alignment was done and perfected, I opened the project (halex) file and manually deleted the "Count" parameter from the WFS request. Then called Hale from the command line. No delays or endless loops.

[2021-12-01 17:11] JohannaOtt opened #947 "Classification is running into an error for complex source elements with values on top level"
When the source element for a classification function is a complex element which has a value, the classification fails with the following error message:
`org.springframework.core.convert.ConverterNotFoundException: No converter found capable of converting from type eu.esdihumboldt.hale.common.instance.orient.storage.DatabaseHandle$InstanceHandle to type java.lang.String
	at org.springframework.cor

[2021-12-02 07:51] Flaminietta commented on #871
I have tested it with **hale studio version 4.1.0** release, **revision ea4ef49d702431ba64071cf82933aa6c90541b39** and it works.  I have macOS Big Sur version 11.6. @florianesser

[2021-12-02 14:20] JohannaOtt commented on #712
Another case where redirects cause issues is the apiso metadata schema http://schemas.opengis.net/csw/2.0.2/profiles/apiso/1.0.0/apiso.xsd. When trying to import it to hale studio the error message `java.lang.RuntimeException: org.apache.ws.commons.schema.XmlSchemaException: Referenz zu Entity "l" muss mit dem Begrenzungszeichen ";" enden.` is returned.
This is due to the fact that the schema http

[2021-12-03 08:57] Flaminietta commented on #757
This is what I observe:

1. if I create two or more project variables (`test_variable.png`)
2. and I use them for alignments of the kind "Formatted string" (`variable_1.png` and `variable_2.png`)
3. then, they are present in the final project file (`Test2Vars.halex.alignment.xml`)
4. if then I delete the project variable _test_variable_1_ but don't delete the alignment itself, which uses it, I sti

[2021-12-03 09:04] Flaminietta commented on #757
This is what I observe:

1. if I create two or more project variables (`test_variable.png`);
2. and I use them for alignments of the kind "Formatted string" (`variable_1.png` and `variable_2.png`);
3. then, they are present in the final project file;
4. if then I delete the project variable _test_variable_1_ but don't delete the alignment itself, which uses it, I still find the variable in the pro

[2021-12-03 14:22] thorsten-reitz commented on #909
I have actually tested this in the last weeks, and have only encountered one case where it doesn't work: When there is a type level groovy operation (Groovy Merge, Groovy Retype). In all other cases (check the end repo for examples) this worked nicely.

[2021-12-03 14:50] thorsten-reitz commented on #847
@fjlopez The new release (4.1.0) has been tested thoroughly with current MacOS versions and models. Please let us know if you can't work with that. In that case we will re-open this ticket.

[2021-12-05 12:11] fjlopez commented on #847
Don't work yet. My macOS version is 11.6.1 Big Sur.

<img width="270" alt="Screenshot 2021-12-05 at 12 54 50" src="https://user-images.githubusercontent.com/3294927/144745472-7f2d1db3-0fa5-4022-be43-23631373dc3e.png">

This version is not correctly signed and notarized, the output of this command is:

[code]

when something like:

[code]

was expected ([source](https://help.apple.com/xcode/mac/cur

[2021-12-06 07:43] kapil-agnihotri commented on #847
@fjlopez, thank you for your feedback.
Please follow the `installation instructions` for Mac as document in the [release 4.1.0 page](https://github.com/halestudio/hale/releases/tag/4.1.0).

Steps to run hale studio in Mac
If you are using Mac with intel chip, then to be able to run the application after the installation, you must execute the below command in the terminal.
[code]
Then launch hale s

[2021-12-06 09:16] fjlopez commented on #847
That is an unsafe recommendation as`xattr -cr` is used in zero days attacks such as [xcsset](https://www.trendmicro.com/en_us/research/20/h/xcsset-mac-malware--infects-xcode-projects--uses-0-days.html).

Please, review your notarisation process (e.g. [here is an answer that address the case "code has no resources but signature indicates they must be present"](https://blog.adoptopenjdk.net/2020/05/

[2022-02-07 09:46] thorsten-reitz opened #950 "Import all tables from an Excel sheet at once"
Right now, when importing an Excel sheet as schema or source data, it is necessary to go through the process once per table in the sheet. To reduce user workload, it would be desirable to be able to import all tables (with default settings, e.g. interpretation of all columns as strings).

[2022-02-21 14:55] JohannaOtt commented on #936
@Flaminietta Could this be assigned to you?

[2022-02-21 15:00] JohannaOtt opened #951 "CSV export does not use the correct column order"
When importing a CSV schema, creating according data with hale studio and exporting that data afterwards, the data is not using the same column order as the schema file is.
Also, when columns do not have a value for any of the objects, they are left out completely.
The exported CSV should use the same column order as the CSV file used for schema creation including all its columns.

[2022-02-21 16:15] dgreefhorst commented on #951
Is the fact that empty columns are left out completely also a bug?

[2022-02-21 16:26] JohannaOtt commented on #951
Yes, the expectation is that the schema is used as is - therefore also "empty" columns should be contained.

[2022-03-02 15:05] Flaminietta commented on #936
https://github.com/halestudio/hale/pull/949

[2022-03-02 15:08] Flaminietta commented on #796
https://github.com/halestudio/hale/pull/948

[2022-03-02 15:08] #796 closed

[2022-03-23 15:08] JohannaOtt opened #955 "Avoid validation warning for choices that are allowed to occur multiple times"
Description done with an example case to make the schema construct easier to understand: Work with omso:ProfileObservation

The element result.ReferenceableGridCoverage.rangeSet.ValueArray.valueComponents can contain multiple occurrences of the choice used in it. That means, if multiple values (e.g. AbstractValue.Count and AbstractValue.QuantityList) are provided for one object, the transformed da

[2022-03-23 16:23] Claudia-WE opened #956 "reload and update schemas - project save function is not working"
Hale studio 4.1.0.

When I run 'File/Reload and update schemas' there is offer to 'Save changes to current project?'.
But id doesn't save changes after hit 'Yes'.

see also https://discuss.wetransform.to/#/thread/3fel/Save-project-after-reload-and-update-schemas

[2022-03-29 06:47] JohannaOtt commented on #951
Changes are contained in [this build ](https://builds.wetransform.to/job/hale/job/hale~publish(master)/572/)

[2022-03-29 07:17] #951 closed

[2022-03-30 15:28] pvgenuchten opened #959 "export classification file doe not include empty target values"
After 'fill source values with enumeration', when you export the list of values, the exported csv only has the values with populated target value.

![image](https://user-images.githubusercontent.com/299829/160866718-d35736e7-8277-44e6-9465-b8841f5a5b07.png)

Typically you want to send the unpopulated file to an expert to map the values to some code list, it would then be handy to include also the

[2022-04-06 09:57] pvgenuchten opened #960 "how are schema's loaded, if they also exist locally?"
This issue was mentioned by dries luts around the inspire soil schema.

Jrc recently deployed some bugfixes on various schema's. Our impression is that when we try to load these updated schema's by url, hale studio seems to still use the locally cached previous version of the schema

I wonder if there is guidance available on how to update the locally cached/preset schema's, and/or if software cha

[2022-04-06 11:48] stempler commented on #960
The mechanism with the offline resources in hale works in the way that for a given host name, hale first tries to find the resources (e.g. XML Schema) in the offline resource bundles and if it does not find them it will use the online resource.

This assumes that the content at the respective URLs is stable (as they usually contain a version number). Past experience has shown that at least for the

[2022-04-07 11:24] JohannaOtt commented on #936
@Flaminietta Isn't that done?

[2022-04-07 12:26] #936 closed

[2022-04-08 18:04] Flaminietta commented on #905
https://github.com/halestudio/hale/pull/958

[2022-04-08 18:04] #905 closed

[2022-04-10 20:31] pvgenuchten commented on #960
Thanx for the hint @stempler
I'll give it a try

[2022-04-12 07:02] pvgenuchten commented on #960
@stempler, I was not aware of it but it seems JRC also publishes a versioned edition of the INSPIRE xsd's at

https://inspire.ec.europa.eu/schemas/2021.1/so/4.0/Soil.xsd
https://inspire.ec.europa.eu/schemas/2021.2/so/4.0/Soil.xsd

At least, by using this url, it is a better workaround then removing the preset package, but maybe the Hale software should also adopt these versioned xsd url's?

[2022-04-12 09:55] JohannaOtt opened #962 "Types for choices imported from different xsds lead to choice being displayed multiple times in Schema Explorer"
Version 4.2.0.SNAPSHOT
Build 202203231441
Revision 1a25d6c351035ec4c3e162fdf7db4dcc1ee4d07c

When importing a schema (for example [this one](https://wetransform.box.com/shared/static/aepzhy68v1s9hs8f1yocssdhxxdm36wm.xsd)) that is importing a type used in a choice from two different XSDs, the choice is displayed twice in the Schema Explorer
![grafik](https://user-images.githubusercontent.com/341638

[2022-04-12 10:53] stempler commented on #962
@JohannaOtt But I would see as a problem that you can't just assume the definition in both cases is the same. So one would need to check if the definitions are the same, and if they are not raise an error.

[2022-04-13 14:05] JohannaOtt commented on #962
@stempler Is it possible to have types with the same name from the same namespace but different definitions?

[2022-04-13 19:02] stempler commented on #962
Sure, there is nothing preventing this.

For example:
- GML 2 and GML 3.0/3.1 use the same namespace
- INSPIRE 4.0 schemas that get fixes keep the same namespace
- Schema profiles that for instance exclude certain elements or change the cardinality
- Draft versions that use the same namespace than the later released version

[2022-04-14 12:00] JohannaOtt commented on #962
Thank you for clarifying.

So a solution could be that hale studio determines whether the definitions is the same or not and provides an error in such cases so that the user can provide feedback to the schema provider?

[2022-04-20 15:00] JohannaOtt opened #964 "Add option to add/remove multiple types from mappable types"
When editing mappable source or target types, it would be convenient to be able to chose multiple types without having to activate the checkmark for all of them individually.
A possible solution could be a checkmark that allows to enable/disable all types that match the current search.
An alternative approach could be to select multiple types via the UI and change the visibility for all selected t

[2022-04-20 15:57] stempler commented on #964
Removing multiple types is possible already. When multiple types are selected in the schema explorer you can choose "Exclude type from mapping" from the context menu.

[2022-04-21 06:02] JohannaOtt opened #965 "Reduce log level to debug for some info messages on xml schema import"
Version 4.2.0.SNAPSHOT

Build 202203231441
Revision 1a25d6c351035ec4c3e162fdf7db4dcc1ee4d07c

When importing an xml schema (for example INSPIRE presets), a lot of info messages ("Particle that allows any element is not supported" and "White space facet not supported") are logged and displayed in the properties of the schema import report
![grafik](https://user-images.githubusercontent.com/34163838

[2022-04-28 14:57] JohannaOtt opened #966 "Add XPlanung version 6.0 to schema presets"
Currently, only older XPlanung versions are contained in the schema presets. The latest version 6.0 should be added as well.

[2022-05-16 15:01] thorsten-reitz opened #970 "Add option to Retype function with structural name to exclude top-level properties from copying"
Currently, it is not possible to make a Retype with structural rename enabled, when one needs to also apply property level functions for  specific behaviour.

With this adaptation to the retype function, one additional parameter would be added to the Function parameters page that allows the user to select properties which should be excluded from the copying.

[2022-05-17 08:38] thorsten-reitz commented on #909
Related way of solving this: https://github.com/halestudio/hale/issues/970

[2022-05-23 08:23] thorsten-reitz commented on #467
LGTM.

[2022-05-28 18:27] thorsten-reitz commented on #966
Also, version 5.4 does seem to be missing so far.

[2022-05-28 18:32] thorsten-reitz commented on #910
@Flaminietta this might be a mango for you.

[2022-05-30 06:13] thorsten-reitz commented on #654
@Flaminietta This might also be s suitable mango for you to work on :)

[2022-06-02 07:25] thorsten-reitz commented on #721
@florianesser can you give an estimate how much time it would take to complete this?

[2022-06-02 10:49] thorsten-reitz commented on #813
@stempler My main use case has also been Johannas ("This is e.g. necessary when source data is retrieved from several WFS").

[2022-06-09 16:06] florianesser commented on #721
@thorsten-reitz Hard to say without looking at it in depth again as I don't remember how far along this actually was and what might be missing. Probably would need half a day to set up an environment and do some tests.

[2022-06-13 09:07] kapil-agnihotri opened #973 "Read Shapefile with multiple geometry types with lenient or strict read mode"
When a Shapefile is loaded in hale studio, it may happen that the data which is loaded may not have its corresponding schema already loaded. This could result in the data being squeezed in random geometry types. The goal of this ticket is to add an option to load the data with lenient or strict read mode.
In lenient mode, the data will be read as now it is being read, i.e., in multiple geometry ty

[2022-07-01 15:25] Claudia-WE opened #974 "Shapefile writer shortens field names automatically during export"
See shape file fields defined (HaleStudio in Screenshot) and short version of field names (QGIS in screenshot)
![image](https://user-images.githubusercontent.com/54665693/176923710-e234d7d2-a2b9-4799-92ec-691a1b4f62bd.png)

[2022-07-01 15:28] Claudia-WE commented on #974
Field names for shapefiles and dBASE tables can be no more than 10 characters in length. But the shortening starts already with fieldname of 8 characters length. E.g. correctie --> correcti

[2022-07-01 18:49] dgreefhorst commented on #974
It just does not use the field names that are in the schema, e.g. receptorID becomes reID

[2022-07-11 12:49] JohannaOtt opened #977 "Update bundled resources"
**What needs to be done?:**
Update the bundled resources in the hale-platform project so that the latest versions of the updated INSPIRE schemas are available in hale»studio.

**Additional information:**
[hale-platform project](https://github.com/halestudio/hale-platform)

**Definition of done:**
* Bundles in hale-platform/modules/resources are updated
* The [hale»studio target platform reference]

[2022-07-11 13:04] JohannaOtt opened #978 "Avoid transforming data after every file when loading multiple source data files"
When using the reader mechanism to load multiple files at once and the live transformation is enabled, the loaded data is transfomed after every file imported.
This should be changes so that the data is only transformed once all files are loaded because the "in-between-transformations" are not of interest for users.

[2022-07-21 10:14] #910 closed

[2022-07-21 10:14] #792 closed

[2022-07-28 14:43] JohannaOtt opened #979 "Change of style for a type that occurs in source and target schema is applied for all occurrences"
When changing the style of a type that occurs in both, source and target schema, the style is changed for both occurrences.
Sometimes, the same schema is used as source and target when only wanting to change some data or do data validation. When changing the style for one of the types in one of the schemas in such cases in order to check its appearance on the map, the style is changed for the othe

[2022-08-05 14:01] Flaminietta commented on #654
Closed with PR #980

[2022-08-05 14:01] #654 closed

[2022-08-09 12:20] JohannaOtt commented on #960
The issue to update the bundled resources is https://github.com/halestudio/hale/issues/977

[2022-08-17 13:32] JohannaOtt commented on #909
Closed with https://github.com/halestudio/hale/pull/981

[2022-08-17 13:32] #909 closed

[2022-08-17 13:33] JohannaOtt commented on #970
Closed with https://github.com/halestudio/hale/pull/981

[2022-08-17 13:33] #970 closed

[2022-08-29 09:10] thorsten-reitz commented on #941
@stempler would it also be possible/easier to implement this support for the new/existing JSON IO component of hale studio?

[2022-09-01 17:21] nmtoken commented on #777
Link to EPSG portal PDF (above) is broken, perhaps EPSG API would be useful replacement ~ https://apps.epsg.org/api/swagger/ui/index

[2022-09-15 13:16] JohannaOtt opened #985 "Shapefile writer is behaving differently for execution via UI (expected result) and via CLI (one type missing)"
When executing a project in the hale studio app via UI and via CLI, different results are exported.
It is a project with 5 types in the target schema created from 5 shapefiles.
When executing the transformation via the UI and exporting the data, files for all 5 types are exported.
When doing the same via the CLI, files are only created for 4 of them - one is missing.

In case the project and batch

[2022-09-22 07:32] JohannaOtt opened #986 "CSV writer: Reduce multi geometries to single geometries if no multi geometry is contained"
Similar to what is implemented for the GML writer, the CSV writer should use single geometries in the CSV files if the data only contains single geometries.
Multi geometries should only be used if there is at least one multi geometry in the data.

[2022-09-26 06:34] JohannaOtt opened #987 "hsd export is missing <hsd:entry> element for property with same name as type"
Version 4.2.0.SNAPSHOT

Build 202208171957
Revision e09ae31e86cb5aa6fb65241215f330b08e4f8905

When loading a schema with a type containing a property using the same name as the type itself, the hsd exported from it does only contain one hsd:entry element with that name.
That leads to the index for this index being used in both, the hsd:type element and the hsd:property element:

![grafik](https://

[2022-09-26 06:52] thorsten-reitz opened #988 "Enhancement: Provide option to overwrite content in Geopackage Writer instead of appending content"
The default behaviour of the GeoPackage writer is to append all transformed data to data that might already exist in the file selected as the target. This is consistent to other database writers in hale studio.

However, we've received custoemr feedback several times asking for an option which would first clean the database, or just overwrite the file. This option should be disabled by default.

[2022-09-28 08:08] thorsten-reitz commented on #498
@JohannaOtt Is this fixed through the changes introduced for https://github.com/halestudio/hale/issues/796?

[2022-09-28 09:26] JohannaOtt commented on #498
This is still the case. So I would assume that the logic decribed here

also still cannot work.
The behavior is different though from what was originally described

It now assumes 0 lines to skip when opening the dialogue and changes it to 1 line to skip when choosing a type.
So from my perspective, the misleading behavior from the description does not occur any longer and the issue could be close

[2022-09-29 08:39] stempler commented on #498
I guess that would then be a feature to read the "header row" for the type from something else than the first line?
Not sure if that's a use case. I would not deem it a priority though.
Maybe @thorsten-reitz can comment because he had the "skip multiple lines" use cases.

[2022-09-29 14:16] thorsten-reitz commented on #498
Indeed, there is sometimes the use case that the header is not actually in the first line, e.g. in "Hauskoordinaten" or in the AIXM obstacle data that I recently processed. However, there is an easy workaround by just providing a separate schema file. In summary, I would not consider it necessary to specifiy the header line.

[2022-10-18 20:01] Flaminietta commented on #986
Can it be one issue for me? @thorsten-reitz @stempler @florianesser?

[2022-10-18 20:07] Flaminietta commented on #973
Can it be one issue for me? @thorsten-reitz @stempler @florianesser?

[2022-10-18 20:08] Flaminietta commented on #973
Is this issue related to the[ issue #986](https://github.com/halestudio/hale/issues/986)?

[2022-10-18 20:10] Flaminietta commented on #950
Can it be one issue for me? @thorsten-reitz @stempler @florianesser?

[2022-10-20 05:56] dgreefhorst opened #994 "ShapefileInstanceWriter does not use source schema for datatypes"
It transforms Character columns always to a width of 254, independent of the width as defined in the source schema.

[2022-11-07 08:18] Kate-Lyndegaard commented on #816
@thorsten-reitz @JohannaOtt I am updating https://github.com/halestudio/hale/issues/944 and I am closing this issue.

[2022-11-17 09:59] JohannaOtt commented on #497
Agreed that it is not an occurring value but then it might be helpful to have an extra tab in the properties or anything the like where null values are indicated.
Just stumbled upon this problem again with @annat2022 while working on an alignment.
This is also related to #794 which is slightly different though as it concerns the reader, not data resulting from a mapping.

[2022-11-18 11:13] kapil-agnihotri opened #1002 "Update org.deegree so that it can be used in hale studio that uses java 17"
Units tests that are run on `` bundle fails due to missing jaxb-api on classpath.

This happens because, org.deegree still refers to javax.xml libraries for `jaxb` related dependencies. However, after migrating hale studio with java17, jdk no more provides `javax.xml` and `Jakarta` dependencies must be used.

This ticket is to add `Jakarta` dependencies to `org.deegree` so that this bundle can aga